[2014-11-19 12:08] JavaJens opened #4 "Crash in GcmRefreshJob"
As @pejakm mentioned here: https://github.com/WhisperSystems/TextSecure/pull/1960#issuecomment-63628528 the latest build crashes with

[code]

[2014-12-01 18:38] #4 closed, assigned to JavaJens

[2014-12-04 12:53] pejakm opened #5 "Permanent TextSecure communication failure"
Latest code, `Permanent TextSecure communication failure!` notification again. After updating TextSecure with latest ws patches, I got two "bad coded" push messages from my friend (sent few days ago). Sending push messages don't work, also (there's no received mark).

[2014-12-08 20:41] #5 closed, assigned to nobody

[2015-01-08 19:00] brumsoel opened #6 "Websocket protocol change"
When browsing through the commits of a TextSecure websocket command line client. I found this: https://github.com/janimo/textsecure/commit/cb20c559e31cfe95433554fb73dc2d5dd559030c

Apparently, there has been another protocol change with server version 0.27: Message bodies are no longer Base64-encoded.

Server commit: https://github.com/WhisperSystems/TextSecure-Server/commit/41d15b738bacf7096fe195

[2015-01-09 08:49] JavaJens commented on #6
@brumsoel Could you check if this solves the problem? Then I would merge into master again.

[2015-01-09 16:56] JavaJens commented on #6
@brumsoel That was my fault. I rebased onto the current upstream and lost the PushService in the merge conflict. It was re-added now and should work. Would be great if you could check! Thanks.

[2015-01-10 00:33] brumsoel commented on #6
Works perfectly now, thank you!

[2015-01-10 10:22] #6 closed

[2015-01-27 18:18] jensMF opened #8 "Groups from websocket-user not available for gcm-user"
I started a group and my friend who is using a gcm-client didn't got any massage from that group. With another websocket-client everything worked well…

[2015-01-28 09:47] JavaJens commented on #8
I don't see how the group behavior should be influenced by the technology used by the clients.
Could you check if there are any suspicious messages on the client?
Maybe provide a log from each client, if sth. shows up there.

Also make sure that your friend is on the same server as you (i.e. is not using the play version)

[2015-02-02 06:51] jensMF commented on #8
Sorry, I don't have access to my friends phone often, so i have to wait and will compare logcats. I'll report back when done. Probably it's a server-side problem. Didn't think about it...

[2015-03-02 18:07] pejakm opened #9 "libtextsecure is now a standalone library - what next?"
After commit https://github.com/WhisperSystems/TextSecure/commit/ed5b3f867997ec2778e032d8753c3a54a5e23c93 libtextsecure is in separate repo. How will this change affect Web Sockets patch?

[2015-03-02 19:58] JavaJens commented on #9
It shouldn't have any effect. AFAIK they just moved it to its own repo.
Feel free to report otherwise

[2015-03-02 19:58] #9 closed, assigned to nobody

[2015-03-04 12:47] Mayeu opened #10 "Usability of this fork"
Hi,

I have a question about the usability of this fork, do you use it daily? I see that the commit diff is really short (the websocket-reborn branch), so I suppose it is a pretty stable feature. Is it usable for a user that is capable of compiling new version regularly?

(I am stuck with a pretty old version I have compiled myself to ensure I have SMS support, but I really want to upgrade to a ne

[2015-03-04 13:16] JavaJens commented on #10
No, this is not a stable fork :D But feel free to test and report back.
Also the server against which this is run, is a development server (textsecure-service-staging).

If you want I can provide a patch that allows you to easily install two versions in parallel.

[2015-03-04 13:16] #10 closed, assigned to nobody

[2015-03-04 15:31] jomo commented on #10
I would like to test this myself and I have a few questions, too:
1. Are the Google dependencies already removed?
2. Is there a public development server or do I need to set that up myself, too?
3. Can servers communicate under each other (so I can message others that use the default TS server)?

---

Thanks for all the effort you put into websocket support :+1:

[2015-03-04 15:47] JavaJens commented on #10
1. You need Google services to built, but not on your phone.
   2+3. It uses the Whispersystems Staging Server, but afaik it is not federated.

[2015-03-04 18:26] #8 closed, assigned to nobody

[2015-03-05 14:52] haffenloher opened #11 "Retrieving messages does not work"
Hi!
When testing your websocket-reborn branch (including your forked libtextsecure), I wasn't able to receive any messages.
There was not much Textsecure-related log output, except this:

[code]

Is there anything I can do to help you debug this issue?

[2015-03-05 15:08] pejakm commented on #11
If you used testing server you cannot receive messages sent from production builds of TextSecure.

[2015-03-05 17:38] haffenloher commented on #11
Of course, sorry for being unclear. The sending client is registered to the same server.

[2015-03-05 19:47] JavaJens commented on #11
Very strange. Don't you have any other useful output?
I would expect at least the following:

[code]

The repetitive log off the active count means that an activity registers and deregisters with the service frequently, the only activities that do this, afaik, are PassphraseRequiredActionBarActivity and PassphraseRequiredSherlockListActivity.

I don't have a passphrase setup, but will do that and

[2015-03-06 15:16] haffenloher commented on #11
My fault, I'm sorry - I didn't realise I had to reregister, so I tested your branch used an existing account. After reading through your changes to the registration process, I made a new account, everything works now.

[2015-03-06 15:16] #11 closed, assigned to nobody

[2015-03-06 15:45] pejakm opened #12 "Could not compile"
Error:

[code]

Tried with non patched TextSecure and no such error occurs.

[2015-03-06 17:30] pejakm commented on #12
Compiled successfully with libaxolotl v1.1.0.

[2015-03-06 17:30] #12 closed, assigned to nobody

[2015-04-02 06:48] jensMF opened #13 "Could not build."
I get this error:

[code]

[2015-04-02 09:03] JavaJens commented on #13
I guess I screwed up with the version numbering...
I will push a new version with the latest upstream changes merged in. Could you check if that works for you (force pushed and updated the libtextsecure fork)?  I don't have my device to test.

[2015-04-02 17:29] jensMF commented on #13
Now it works, thanks a lot!

[2015-04-02 17:42] jensMF commented on #13
This part works now, but I get this:

[code]

Thanks for your help.

[2015-04-02 17:52] jensMF commented on #13
Well I could kind of solve this issues, but don't know, whether it effects the app in a negative way…

[2015-04-02 21:25] jensMF commented on #13
I reregistered and the other person using this build too, and know TextSecure isn't recognising, that we have TextSecure...

[2015-04-03 08:01] JavaJens commented on #13
Yes, because you are not setting the fetches message flag. I assume because your libtextsecure version is wrong.

That is what the error indicates.
So make sure you are using the locally installed version from my repository and check that it is the correct branch.
I will look over it and try myself this afternoon, but for me it compiles without problems.

[2015-04-03 08:14] JavaJens commented on #13
I don't know whats wrong with me...I forgot to push some changes.
Now it should compile just fine though

[2015-04-03 11:32] jensMF commented on #13
It seems to work properly now. I use Android-Studio, how do I make shure, that it uses the right libtextsecure version?

[2015-04-03 17:12] haffenloher commented on #13
@jensMF You can build using something like

[code]

Afterwards, search log.txt for these two lines:

[code]

[2015-04-05 21:45] jensMF commented on #13
Ok Thanks, but how do I handle options for `./gradlew build` in Android-Studio?

[2015-05-28 17:11] zgohan commented on #13
@JavaJens please help me guide to build my own textsecure server step-by step..i'm looking for your contribute in https://github.com/WhisperSystems/TextSecure-Server/issues/5 it's also on textsecure server old repository..i'm very newbie..

[2015-05-28 17:14] zgohan commented on #13
@JavaJens i'm using ubuntu 14.04

[2015-05-29 13:55] relyt29 commented on #13
@zgohan try using this: may save you a fair amount of pain
https://github.com/janimo/textsecure-docker.git

[2015-05-29 14:26] zgohan commented on #13
@f41c0r thks for answer, he..i'm sorry.how do i to use that?..

[2015-06-03 22:29] #13 closed, assigned to nobody

[2015-06-03 22:32] jensMF opened #14 "Force close when sending image."
The actual version force closes if I hit the send button for a picture. Whe I restart the app it sends the picture without a problem. I do not need to hit the send button again.

[2015-06-08 16:37] relyt29 commented on #14
is there anything useful in the logcat debug logs when the app crashes? Plug in your phone to your computer, do adb logcat on the command line and crash the app

Also you are aware that this version is a crapton of commits behind master at this point so it may have been a bug fixed upstream

[2015-06-10 08:41] jensMF commented on #14
I don't know whether the logcat is helpful but it is too long to post. What can I look for? What filter could I use?

[2015-06-10 08:41] jensMF commented on #14
Yes I know its behind master and was hoping for an update…

[2015-06-12 15:24] relyt29 commented on #14
look through the logcat for "org.thoughtcrime.securesms"

[2015-06-20 18:50] xmikos opened #15 "Websocket development stalled?"
Hello,
please what is current status of Websocket support in TextSecure? Is your fork dead (there hasn't been any activity for a long time)? Are you planning to continue and merge it into official TextSecure?

Thanks for your answers.

[2015-06-21 09:57] JavaJens commented on #15
Hey, there wasn't much enthusiasm on the receiving side and interest has seem to stalled. So, yeah I guess you can call this fork dead.
However if there are people willing to contribute and I see a reason to continue work, I might pick it up again. Also contributions are always welcome and if you have a PR or issue please post and I'll take a look at it

[2015-06-21 10:17] Isgar commented on #15
I would like more developement here... But honestly, I still have a version with SMS support and it just works. So I have little motivation looking into contributing atm.

[2015-06-21 10:53] xmikos commented on #15
For SMS encryption there is actively developed fork named SMSSecure (https://smssecure.org). But what I am missing is full internet-based TextSecure version which is independent on Google Cloud Messaging. But I am afraid that my Android/Java knowledge isn't good enough to continue in development of this fork :-(

[2015-06-21 10:56] xmikos commented on #15
@JavaJens What is current status of this fork? Does it still work? What is missing or need to be fixed? I can at least try...

[2015-06-23 00:24] relyt29 commented on #15
@JavaJens you should put up some kind of bitcoin donation type thing so users can throw money at you to motivate you to stay current with upstream ;)

[2015-06-23 07:39] JavaJens commented on #15
@f41c0r I don't want any money, I just want to see that people care about this feature and maybe even that it gets added to master someday.

But it seems as if there is some interest, so I will pick it up again. However I'm on vacation right now.

@xmikos That's the next problem. I never had to use my branch ;) Feel free to test and report back.
When I'm back I will load my old phone with this bra

[2015-06-23 08:00] xmikos commented on #15
@JavaJens When will you return from vacation? :-) I am creating independent public F-Droid repository for TextSecure and RedPhone right now (I am awaiting Moxie's wrath when I publish it ;-)) and would love to include WebSocket-based fork in it (I hope Moxie will merge it one day, but from discussions with him that I have read, I am not completely sure about it).

[2015-06-23 12:15] xmikos commented on #15
I have already published my TextSecure & RedPhone F-Droid repository: https://fdroid.eutopia.cz

[2015-06-23 20:54] b-meson commented on #15
@f41c0r and I are working on bringing the code up to the latest TS master and willing to help.  We want to help as well. Personally I don't like using f-droid and running unsigned, untested code, particularly against production servers.  Let us know how we can help @JavaJens

[2015-06-24 20:41] jomo commented on #15
I'm very looking forward to this. TextSecure seems to be the only messaging app that gets encryption right, I'd like to use it but I don't have Google services installed.
I probably can't contribute any code here, though. :disappointed:

[2015-06-25 20:34] relyt29 commented on #15
Hey @JavaJens,
What is the websockets-reborn branch? Was that an attempt in April to update the websockets fork?
Also are you aware that Koush deprecated the android [websockets library](https://github.com/koush/android-websockets) in favor of [this](https://github.com/koush/AndroidAsync) library?

[2015-06-26 08:27] dev-mb-zz commented on #15
Hey Jens,
first of all thanks for your work. I just  wanted to confirm that there is indeed a huge interest in a GCM/google free version of textsecure. Is there any overview what works well,  unreliable and not at all yet? From July on I will try do build, test and write bugreports in case I find some.
Best regards an thanks again!

[2015-06-26 08:54] xmikos commented on #15
I also want to make some test builds, but I don't know which branch should we preferably use? Master or websocket-reborn? It seems that websocket-reborn is much newer, but is it complete?

[2015-07-01 07:20] black-puppydog commented on #15
Just chiming in to confirm there is indeed interest for this feature.
I haven't been able to use TextSecure for anything actually secure since January or so when I went Google-free on CM. I am completely dependent on the websocktes transport as virtually all of my peers in Germany or Sweden, with me being in France.

So far I have been running a self-built version of TextSecure (built on my now-de

[2015-07-03 06:46] patcon commented on #15
+1 @JavaJens! :)

@xmikos I'd much rather not fragment the space, but if there are enough supportive people and merging doesn't look likely, this might be a good exercise in attempting deterministic builds:
https://f-droid.org/wiki/page/Deterministic,_Reproducible_Builds

You could have a trusted member of the fdroid community confirm the tagged builds

[2015-07-03 10:22] dev-mb-zz commented on #10
How can I change the Staging server into a federated one to be able to communicate with "normale" gcm-users? Anything else to do before compiling to test under normal conditions with users which use text secure from the Google play store?

[2015-07-05 20:38] dev-mb-zz opened #16 "Building websockets-reborn-branch"
Trying to build the websockets-reborn branch I get the following error:

[code]

The normal textsecure builds without problems. libtextsecure-java-fix-maven_local with ./gradlew  tasks installArchives as well.
 Before coming so far I had to update the versions and checksums for a couple of packages in the build.gradle file. I took the versions from the current whispersystems-textsecure respository

[2015-07-06 07:50] JavaJens commented on #15
The websocket-reborn branch was an attempt to get up quickly against the upstream master.
In my first version I included an external websocket library and dealt with a lot of ugly wakelocks etc.

In the reborn branch all of this work was no longer needed as the PlayStore version of TS included Websockets already for fetching the messages.
The way this worked was that GCM would trigger a WS connect

[2015-07-06 07:52] JavaJens commented on #10
You should look into the Release.java file.
For the rest see the Readme in the websocket-reborn branch

[2015-07-09 04:24] witchent commented on #15
First of all, thanks for that awesome work already done. I'm one of those who think that installing gapps for having a secure text messaging app isn't really a good deal. I also had to many problems with kontalk etc, so I couldn't ask my friends to move. And while telegram was a good compromise, I still feel the need to move to a complete free(as in freedom) messaging program.
While I don't really

[2015-07-11 10:09] JavaJens commented on #14
Sorry I didn't reply sooner. You can upload crash logs as gists for example.
But I am closing this issue as the branch was so outdated. I will push an update soon and if the problem persists, feel free to re-open with a crash log.

[2015-07-11 10:09] #14 closed, assigned to nobody

[2015-07-11 11:21] JavaJens commented on #16
I've updated the branch. Could you check if the problem persists? I have "push -f"-ed the changes. Sorry.

[2015-07-11 11:21] #16 closed, assigned to nobody

[2015-07-11 11:22] JavaJens commented on #15
I have updated the reborn branch using "push -f". I apologize for that, but feel free to check it out.
I've also added a WS flavor which can be configured to test the Websockets only approach on a device that has PlayServices installed.

[2015-07-11 17:21] relyt29 commented on #15
Ugh, we're shit out of luck, if they're using GCM for websockets then we're back to requiring play services which puts the Free Software community in between a rock and a hard place. Either you value your privacy and you use textsecure, or you value your freedom and you abstain from textsecure, essentially leaving you with no _good_ implementation of strong crypto avaliable. (What alternative are

[2015-07-11 18:28] xmikos commented on #15
@f41c0r I don't understand your long rant. TextSecure for Android is using their own websocket implementation/library: https://github.com/WhisperSystems/libtextsecure-java/tree/master/java/src/main/java/org/whispersystems/textsecure/internal/websocket (which in turn uses okhttp library: https://github.com/square/okhttp). TextSecure servers doesn't need GCM, there is even browser-based TextSecure c

[2015-07-11 22:21] witchent commented on #15
I think the problem being is that the developer of TextSecure apparently does not value freedom as he does security. He asked the F-Droid maintainer to remove his app, he did not (from what I could see) help the development of the websocket implementation but he did rather hinder it by declining all effort already done. Therefore for me it actually seems not completely unlikely that even if this F

[2015-07-11 23:48] JavaJens commented on #15
@f41c0r I'm not quite sure what you mean. Iirc the old branch also required play services for building, sth. where some people said could be solved by using build flavors. But I'm not sure if anyone actually did that.

So I think the real solution would be to completely polish this branch (sth the old one never was), completely test it and then submit a pull request upstream.
Only then can we argu

[2015-07-12 04:58] relyt29 commented on #15
So my earlier post was before I got a chance to go look at the code, I was under the misunderstanding that GCM implemented websockets as an API in addition to push messaging, and that that's what upstream had chosen to go with in their websocket implementation. Also apologies if it came off as a rant - not trying to rant or be obnoxious or annoying. Sorry.

My primary concern is also not have to r

[2015-07-12 05:30] relyt29 commented on #15
I wrote up a build guide [here](https://github.com/JavaJens/TextSecure/wiki/Building-the-Websockets-reborn-fork)

[2015-07-12 10:11] JavaJens commented on #15
@f41c0r
a)
    1) I think the best way to help is to test that everything works.
    2) Reviewing the code to make it production ready
b) If there is ongoing response that everything still works and people are interested in it, I sure will. The merge conflicts are usually very small, so this should be fairly simple. But a code review never hurts.

For the next step I will look into writing some te

[2015-07-12 17:14] ddast commented on #15
Thank you so much for the update @JavaJens. I installed it yesterday on a test device without gapps and sent some test messages to this device every now and then. All messages have been received without delay. However, I use only WiFi on this test device.

Since this worked flawlessly I will now also install it on my main device to test it more thoroughly.

[2015-07-12 18:35] black-puppydog commented on #15
thanks @f41c0r for the writeup, much appreciated!
I stumbled a bit because the SDK installed by default was 22, but libtextsecure expects 21. (I used Ubuntu make to install Android studio, so this might not generalize to people who install it by hand)
I am now running this on my production phone, so I'll see how it goes. Import of old data and sending worked perfectly, so did the SMS confirmation

[2015-07-12 21:23] patcon commented on #15
fwiw it worked beautifully on CM11 device without gapps (running through orwall/orbot as well, using a mobile wifi hotspot), and I haven't noticed any delayed messages so far. This is really really amazing @JavaJens, and I'm incredibly appreciative (also toward whoever at whispersystems worked on the serverside code!)

[2015-07-12 21:24] black-puppydog commented on #15
I have been busy catching up with some people, it works beautifully, though I stayed at home, so on wifi :P

[2015-07-12 21:49] patcon commented on #15
@JavaJens Can you create a PR from the branch so we can make inline review comments? (I'll do it in commits for now)

[2015-07-15 19:09] jensMF commented on #15
Thanks for the great work you do and for the updates.

I have one question now: Against which server is it running? And can I change it?

[2015-07-15 19:10] JavaJens commented on #15
It will build against both staging and production. So you can choose which flavor to run.

[2015-07-15 19:16] jensMF commented on #15
Ok thanks for the fast answer.
At the moment, I can't build at all. I use AndroidStudio and if I select "Build Signed APK..." I have to choose "Build Type" but there is none...

[2015-07-15 19:21] JavaJens commented on #15
Try building using `./gradlew build` and if that fails open another issue with the error log.

[2015-07-15 20:10] jensMF commented on #15
Ok, it did work with AndroidStudio and flavors now... I had to "Sync Project with Gradle Files" and everything was ok. Thanks for your Help.

[2015-07-17 11:51] olebowle commented on #15
Wow, thanks @JavaJens. It works beautifully! Much appreciated. And of course @f41c0r for the build guide.

[2015-07-22 01:58] relyt29 opened #19 "Default Branch"
Hey @JavaJens I know this sounds stupid but can you set the default branch under the repo settings to feature/websocket-reborn

It's the repo with active development on it, and I (and probably other people too) have to click every time to change to it to inspect things.

[2015-07-22 08:12] #19 closed, assigned to nobody

[2015-07-22 08:12] JavaJens commented on #19
Done :smile:

[2015-07-22 08:16] JavaJens opened #21 "PullRequest to upstream"
I'd like to use this issue to discuss any changes required before submitting a pull request to upstream.

[2015-07-22 08:16] JavaJens commented on #15
Thanks to @f41c0r the websocket branch gets all the latest updates frequently. But how do you propose to get a pull request going?

I'd suggest to create a dedicated branch on which we will rebase against upstream master to have the cleanest comparison, but I am a novice regarding long running changes.
On this branch I'd like to request all kind of feedback regarding code style and quality. Basica

[2015-07-22 08:41] dev-mb-zz commented on #21
As far as I followed the discussion moxies biggest concern was battery drain when using websockets instead of gcm. To have some arguments it would be good to have numbers available to compare gcm and websockets versions in terms of relative battery drain in same usage scenarios.

Are there any reliable procedures for measuring battery drain in dependence on idle/typing/sending/recieving activity?

[2015-07-22 08:56] Isgar commented on #21
In my experience having gapps installed is a huge drain on battery of itself. Apps using GCM thus don't have additional drain. Websocket TextSecure added a big drain on my gapps-free device mostly since there was nothing waking the device up before.

So to properly compare it, you'd have to have a clean install with and without gapps/websocket. Even then it is questionable how these numbers compar

[2015-07-22 09:08] dev-mb-zz commented on #21
Thats a good point,  I observed that  Gapps used a lot of battery as well. No this consumption moved to Textsecure. But in general battery lifetime seems to be in same orders of magnitude (2-3 days depending on usage - MotoG fist generation 2years old).

[2015-07-22 13:44] relyt29 commented on #21
Regarding battery life, lets gather some statistics, in an organized fashion. The problem with effective statistics is that you need to be able to effectively control for your environment.

As for presenting the pull request, probably what we will need to do is as you you mention in #15, although again, the problem is staying current with upstream. What I would suggest is maintaining the status qu

[2015-07-22 14:52] relyt29 opened #22 "Collect battery statistics comparing websocket usage to vanilla"
See my comment in #21.

If we have some people with spare phones that can dedicate their phones to the cause, and can really really strictly run the phone under exact same conditions, that would be ideal for testing.

Something like (on a testing phone that you don't do ANYTHING else on during the test):
1. Install Vanilla TextSecure
2. Charge to full overnight, take phone off charger
3. Every hou

[2015-07-22 16:55] patcon commented on #22
This is a great idea, but let's use [`dumpsys batterystats org.thoughtcrime.securesms.dev`](https://developer.android.com/tools/performance/batterystats-battery-historian/index.html) :)

If we really want to be thorough, Facebook has a tool called [Augmented Traffic Control](https://facebook.github.io/augmented-traffic-control/) for simulating mobile network conditions, which might drastically dif

[2015-07-22 18:39] JavaJens commented on #22
@patcon Really like the idea of ATC, This way we can even further create an identical scenario for everybody.
I think however that for now regular battery stats like @f41c0r  proposed (with your addition of batterystats) should suffice, the rest is extra bonus ;)

[2015-07-23 00:07] igoralmeida commented on #15
I was under the impression the feature/websocket-reborn and https://github.com/JavaJens/TextSecure/wiki/Building-the-Websockets-reborn-fork did not require Google Play Services to build the app. Is that not the case?
Following that wiki page I couldn't get past "Run android studio and open textsecure as a project", and the log tells me something similar to what './gradlew tasks' gives me:

[code]

[2015-07-23 02:35] relyt29 commented on #15
It doesn't require play services at runtime, it'll run on a phone without gApps, but it is required at compile time. I put in the list of things you need to install from the sdk manager in the instructions. You should be ok, if you just get the dependencies in the sdk manager

[2015-07-23 13:24] igoralmeida commented on #15
Removed a few references to play services throughout the code and managed to build with assembleProdWebsockets. Now I need to test with someone else, will report back then.

This of course will never get merged, but maybe we could have a parallel websocket-reborn-noplayservices branch for building.

[2015-07-23 18:35] igoralmeida commented on #15
Tested and worked fine between a gapps-free Nexus4 phone and a stock Xperia Z2 (installed TextSecure from google play), both on the same wifi network. Neither received the confirmation SMS (I had to use the 'call me' method for activation), but this may be unrelated.

[2015-07-23 22:44] relyt29 commented on #22
heads up to anyone planning on doing this - on API 19 and less, the command is `adb shell dumpsys batteryinfo` not `adb shell dumpsys batterystats`.

ATC looks interesting as a tool for testing the network conditions. Probably I will start by collecting battery stats normally for now (Two sample runs, one connected to wifi, and one only on carrier network) and then maybe later use ATC, maybe if Mo

[2015-07-23 23:21] witchent commented on #15
Compiled and tested on a gapps-free Nexus 4 with an AOSP-Rom. Worked like a flaw, got the confirmation SMS and was able to communicate with a friend who's using the official version. Will watch the battery usage, but that's really awesome , thanks a lot.

[2015-07-24 00:05] jf-h commented on #15
I have been testing the websocket-reborn branch for nearly two weeks now, and all I can say is that it runs surprisingly smooth on my Nexus 5 CM12.1 w/o GApps. Battery drain is fine, though, comparing it to [siacs/Conversations](https://github.com/siacs/Conversations), TS w/ WS falls a little bit behind. Still, no biggie for people (like me) who are used to constant connections and frequent pollin

[2015-07-24 18:56] relyt29 commented on #22
the battery historian application that makes pretty html graphs of the battery data for you only has a [minimum supported SDK of lollipop](https://github.com/google/battery-historian/blob/master/analyzer/analyzer.go#L48):

[code]

So I get [this](https://github.com/google/battery-historian/blob/master/analyzer/analyzer.go#L195) error.

I haven't yet gotten a contiguous chunk of time to perform the

[2015-07-27 11:30] Letty commented on #15
thank you for your great work on replacing gcm with websockets. now i can use textsecure on my blackberry (os 10.3.1). the registration via sms is not possible (you recive the sms but ts can't access it), just used the call option and it works fine.
as with other android apps, i can't access my contactlist. but thats ok. you can type the number and messages where send.
battery usage seems normal s

[2015-08-03 16:34] jollcob commented on #15
Thanks also from the Jolla/Sailfish OS users!
Even accessing contacts is working here.

A lot of people there are interested in TextSecure (https://together.jolla.com/question/11534/sailfish-redphone-and-textsecure-apps/?sort=latest#sort-top).
Since there is no real support for GCM we benefit a lot from this development and may get a native app at some point.
Please keep up the good work, I hope t

[2015-08-03 16:54] llelectronics commented on #15
A patched WebSockets version (see patch here: https://github.com/llelectronics/textsecure-jolla-edition-patch ) called "Jolla Edition" landed in the official Jolla Store.
The patch only skips SMS verification on Jolla and BlackBerry devices as it isn't working there.
![20150803174753](https://cloud.githubusercontent.com/assets/3415572/9042732/0fc75fc4-3a11-11e5-9546-a149cb1d36dd.jpg)

Thanks for y

[2015-08-03 20:39] ddast commented on #22
I have tried to do some testing of the battery drain the last couple of days.  I used an old LG Optimus 2x with Android 4.4.4 ([SlimRom](http://www.slimroms.net/)) installed.  The battery is old and does not perform well anymore.  I guess these are pretty bad preconditions, so I do not claim accuracy for any of the results following.

As you can see I did some tests twice because I did not trust t

[2015-08-04 07:22] JavaJens commented on #22
Thanks for the detailed analysis! I'm sure battery life could be heavily improved if we could lower the timeout for the connection. I think GCM has a timeout of ~15min, whereas we have to ping every 30s.
I asked Moxie if we could increase the timeout, but he said they couldn't support that, referring to the required server resources.

Do you have any idea as to where the big difference between 4 a

[2015-08-04 07:58] ddast commented on #22
The battery drain in 4 and 5 is almost the same.  Are you referring to the different runtimes?  This is just the runtime of one test run and does not mean that the battery emptied in this time span or something like that.

[2015-08-04 09:17] JavaJens commented on #22
Ah ok. I do not know why, but I was under the impression this was the runtime of the phone. Like from full battery to dead empty.

[2015-08-04 09:26] geileszeuch commented on #22
@JavaJens We cannot have the same timeout as GCM because Google has contracts with providers, which make sure that the connection is not killed after a short amount of time. We obviously don't have those perks.

[2015-08-04 10:28] JavaJens commented on #22
@geileszeuch While this may be true, I'm sure longer connections would be possible if there where unlimited resources on the server side. For example, a dynamic timeout could be used, based on the current connection limitations. But for now we have to live with the drawback of increased battery usage.

[2015-08-04 11:31] geileszeuch commented on #22
@JavaJens I totally agree that there is a lot of improvement possible. Others, like Telegram for example, manage to work without GCM and without any noticeable battery drain.

[2015-08-12 09:24] schachmat commented on #21
So did we do enough testing to try another PR to upstream? The [changeset](https://github.com/WhisperSystems/TextSecure/compare/master...JavaJens:feature/websocket-reborn) is not too complex at least.

[2015-08-12 17:03] relyt29 commented on #21
EDIT: I didn't see someone did do a battery test for #22. How many of those are good enough before we have enough data? ~~I think #22 needs to be resolved first, so that we have something to bring to the table with regards to performance stats, better than "I've been using this for 2 months with both data and wifi, and my battery life has been fine, everything works great, I haven't experienced an

[2015-08-12 17:11] relyt29 commented on #22
I don't have a phone that I can test this with right now or in the forseeable future cause I'm too broke right now to buy a second phone even pay as you go and my primary won't work for this, but it would be nice to get one or two more different test conditions to compare against so we have more data than just one device.

[2015-08-12 17:30] JavaJens commented on #21
Rebasing is no problem. It works without merge conflicts and I've removed the build flavor and config stuff, so it is even less code.

However, I agree with @f41c0r that some more code review would be good. We could use the wiki in the Repo for that?

Regarding libtextsecure: I once opened a PR where moxie said it will come: https://github.com/WhisperSystems/libtextsecure-java/pull/2
Now there is

[2015-08-12 17:31] schachmat commented on #21
The last two points are clear of course. And the current changes are actually really not that many ("85 additions and 27 deletions") and if you leave out the applicationId from the Manifest and the build.gradle stuff, which will not be needed upstream, it's even less.

For comparing the battery drain, I cannot help unfortunately, since I do not have and do not want gapps on my phone. However I hav

[2015-08-15 15:50] dejIO commented on #15
@JavaJens Thank you so much it's working great! I'm using your branch with the production server on CyanogenMod 11 without GApps. I've been waiting ages to use TextSecure as it's asynchronous (as opposed to XMPP + OTR with Conversations which I usually recommend).

Messages arrive instantaneously on Wifi, I have yet to test it on mobile data. Contacts show up fine and registration was flawless.

[2015-08-19 11:31] mad-de commented on #15
Hey @JavaJens as you have pointed out, that the issue with the battery drain might be fixable on the server-side, what do you think about a standalone TextSecure-Websocket fork with it's own server?
I know that there is a huge demand for a non-google-apps versions, yet the devs seem to be unwilling to tackle that issue. However the CM crew has set up their own servers, which work togethe with the

[2015-08-19 13:53] relyt29 commented on #15
Federation with the official server would require cooperation from OWS/moxie so if we were to do that all websocket users would only be able to talk to people on our separate server.

it is, however a decent idea to do that for testing to see if it can measurably affect battery drain.

[2015-08-19 15:09] mad-de commented on #15
Depends. Maybe moxie & co would be quite happy to split the server costs in a long run + they could focus on stability and features for the main product, while the WS branch can offer non Google experience etc.

[2015-08-20 12:02] JavaJens commented on #15
I doubt that we can pull of federation. Even if we could get the financial side covered to run expensive things like Twillio and AWS, there still would be the concern of performance. I mean if our server or client doesn't run well, it affects the user experience of the rest of the users as well.

[2015-08-20 12:20] git-marijus opened #30 "build fails with:"
- Try:
  Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output.

BUILD FAILED

[2015-08-20 16:01] relyt29 commented on #30
Did you follow the bit in the [instructions](https://github.com/JavaJens/TextSecure/wiki/Building-the-Websockets-reborn-fork) about using javajens's copy of libtextsecure-java? The standard/upstream version won't work.

[code]

I've seen issues like this in the main repo and usually its turned out to be something along the lines that the geographical maven repo closest to people is lagging, althou

[2015-08-24 14:28] ghost commented on #15
Hi,
I just wanted to let you guys know I'm also interested in a Google free Text secure (preferably available on F-droid on their own repository, so moxie can sign it himself :p )
is there anything I can help with?

[2015-08-24 14:49] ghost opened #31 "Redphone"
I know this has nothing to do with Textsecure,
But I'd like to know if we could do the same for redphone. I'm not sure if redphone is GCM or Google framework dependent though.
Because I'd very much like to see it on F-Droid aswell :)

[2015-08-24 14:58] xmikos commented on #15
@JasperWeiss I would't trust build signed by m0xie. Nothing against him, but Open Whisper Systems are based in US and could be compelled to silently include backdoor in their build (like maybe Surespot already has been: https://twitter.com/thegrugq/status/625173052783853568). We need independent builds (preferably reproducible builds, then even m0xie/WhisperSys can sign it and be happy).

[2015-08-24 15:18] ghost commented on #15
@xmikos I know, that was kind of what I meant. Interesting you mention this though, it might explain why he is against F-Droid. Maybe this is just me being too paranoid but still. All of a sudden TS is no longer available on F-droid and everytime someone makes a request he comes up with reasons why he only wants it on Google play.
Anyway, as soon as we can make it work without gcm I suppose we cou

[2015-08-24 15:21] ghost commented on #15
@xmikos BTW, Do you have any beta repo for F-Droid that works without Gapps?

[2015-08-24 15:23] llelectronics commented on #15
Just to mention it. I built the 'Jolla Edition' which APK you can find here: http://talk.maemo.org/showthread.php?t=95804

[2015-08-24 15:29] xmikos commented on #15
@JasperWeiss I don't believe that m0xie doesn't want TextSecure distributed outside of Google Play because it is already compromited. You are IMHO far too paranoid :-) He can't be compelled to said that. I think if TextSecure will be compelled to include backdoor some time in the future, silence from TextSecure developers (and no new commits) would be the best indicator.

[2015-08-24 15:36] b-meson commented on #15
This issue should be closed. Thanks for all the work @JavaJens

On Mon, Aug 24, 2015 at 10:29 Michal Krenek (Mikos) <
notifications@github.com> wrote:

[2015-08-24 15:40] xmikos commented on #15
@JasperWeiss I have already F-Droid repository with independent TextSecure and RedPhone builds: https://fdroid.eutopia.cz

I will add GApps-free WebSocket build soon, I am now just trying to figure out how to do it the best way. Because WebSocket fork has the same app id (org.thoughtcrime.securesms) like original source, but F-Droid doesn't support two apps/builds with same app id in one repositor

[2015-08-24 15:40] ghost commented on #15
@xmikos I know I may be paranoid, but stil. The only way to know for sure is when we can verify that the package is what the source code says it is.

The issue may be closed as @freddymartinez9 mentioned.

Ps. speaking of paranoids. Snowden puts a blanket over him when entering his password :-)

[2015-08-24 15:43] ghost commented on #15
@xmikos Why not replace the old one with the websocket one? I see no reason one would still use the gcm version. You could just release it as an update to the old one.

[2015-08-24 15:51] ghost commented on #15
@xmikos not sure I said anything stupid there :) I suppose you would have done that if it was possible.

[2015-08-24 15:53] xmikos commented on #15
@JasperWeiss Because I still want to have builds from original source still accessible. WebSocket fork is still somehow work-in-progress (and also I want to be able to compare battery demands, etc. between GApps/non-GApps versions).

[2015-08-24 16:00] ghost commented on #15
@xmikos I see, perhaps you should make a beta version to do that and replace the original source when it's ready. I guess losing app data won't matter too much for folks who want to use the beta?

[2015-08-24 17:17] JavaJens commented on #15
As suggested I will close this issue.
Any feature relevant discussion can take place in new issues.
Thanks for all the input and help.

[2015-08-24 17:17] #15 closed, assigned to nobody

[2015-08-24 17:50] paride commented on #31
RedPhone will probably be merged with TextSecure "soon". It is probably better to concentrate the efforts on TextSecure and wait for the merge...

[2015-08-24 18:55] ghost commented on #31
@legovini If that's the case we should indeed focus on textsecure.

Also, does anybody know if this is going to remain a fork of TS or will all of this eventually be merged upstream?

[2015-08-24 20:04] JavaJens commented on #31
The core idea is of course to merge this with upstream. But for that we believe to have to gather some more statistics regarding battery consumption first

Feel free to help out :smile:

[2015-08-24 20:04] patcon commented on #31
@JasperWeiss OWS seems amenable, but a quick look over the websocket branch makes me think some clean-up and re-org still needs to happen before it would be allowed to be merged. (Sorry to be vague, but it _is_ on my todo list to grapple with the TS codebase and make concrete suggestions. Or perhaps my sense is wrong, and it's all perfect as-is :)

[2015-08-24 20:48] ghost commented on #31
I'd like to help out with the battery statistics.
I'm running CM 12.1 on a HTC one M8
I'll wipe it, test it with websocket
wipe it, add gapps, and try the official gcm
If someone could point me to a .apk for the websocket version because I'm not sure how to compile it from source.

[2015-08-24 20:53] relyt29 commented on #31
This should be closed.

Future discussions of this nature should probably go on a mailing list like whispersystems-community-unofficial@googlegroups.com (if @patcon is okay with widening the topic to all unsupported TS development instead of just the server configs) but in general we should be treating this like the issue tracker its supposed to be not a discussion forum. Otherwise it becomes hard

[2015-08-24 21:02] #31 closed, assigned to nobody

[2015-08-24 21:58] patcon commented on #31
Meh, I'm ok with using it for anything relevant that doesn't fit on the main mailing list. I'm not sure that this convo would be unwelcome on the main one, but everyone can try to use their best judgement on that :)

[2015-08-25 07:45] ghost commented on #21
Perhaps a dumb commented, but I'm assuming ios doesn't rely on gcm. So how does signal handle this?

[2015-08-25 08:15] paride commented on #21
I would say using the Apple Push Notification Service:

https://en.wikipedia.org/wiki/Apple_Push_Notification_Service

[2015-08-25 08:37] ghost commented on #21
@legovini What about Telegram, Whatsapp, etc on Android?

[2015-08-25 15:01] jensMF commented on #30
I am getting the same error and I did

[code]

but the error is still there.
I don't know where to replace the sha256 and I would prefer to not replace it, because of security concerns...

[2015-08-25 15:53] xmikos commented on #30
Same problem for me, my textsecure-android-2.6.2.aar has this sha256sum:

[code]

You didn't tested this checksum in previous revisions of WebSocket fork, maybe this is the problem - without reproducible builds, you can't depend on the same checksum for everyone. Or am I wrong?

[2015-08-25 17:31] ddast commented on #30
Building it twice yields two different hashes for me so I guess you're right @xmikos.

[2015-08-25 17:40] relyt29 commented on #30
Yeah, I'm sure compile time and other build dependent properties are part of the aar which would affect the hash.

long term it would be really cool to get [gitian](https://github.com/devrandom/gitian-builder) working with TS - although that would be more relevant to upstream than just us

[2015-08-25 17:44] relyt29 commented on #21
WhatsApp is closed source, probably also uses GCM, since its better for battery and whatnot
Telegram is open source, but has a dependency on [Google Play Services](https://github.com/DrKLO/Telegram/blob/master/TMessagesProj/build.gradle#L9) ~~so is almost certaintly using GCM.~~

edit: I stand corrected see @legovini's post

[2015-08-25 17:53] paride commented on #21
Telegram is able to work without GCM, and the version on f-droid supports only this way of operation (as far as I understand from the description of the package). It has no major drawbacks. I'm not sure about how it works, but for sure websockets are the right way to implement this functionality.

[2015-08-25 18:43] relyt29 commented on #21
I stand corrected, however: https://security.stackexchange.com/questions/49782/is-telegram-secure

[2015-08-25 20:06] JavaJens commented on #30
We could, for now, remove the checksums, that would ease building for everyone.

[2015-08-25 20:17] relyt29 commented on #30
I think I would it would be a better idea to amend the instructions to add the bit about the hash, rather than removing the verification, even if the net affect is the same.

Plus it enables people building the repo to learn about how gradle-witness works

EDIT: I updated the instructions. JavaJens it's your repo and if you want to remove the checksums that's your prerogative. Either way, ticket i

[2015-08-26 09:20] ghost commented on #21
I'm currently on CM 12.1 without Gapps. Both Whatsapp and Telegram work fine :) why can't we do the same? :p

[2015-08-26 10:46] xmikos opened #32 "F-Droid repository with builds of WebSocket fork"
Just to let you know, I have published experimental F-Droid repository with your WebSocket-based TextSecure fork, it can be found here:

https://fdroid.eutopia.cz

Sources (F-Droid build scripts) for this repo are here:

https://github.com/xmikos/fdroiddata

App ID is still same as original TextSecure (org.thoughtcrime.securesms), so anyone can upgrade from my TextSecure build to this WebSocket fo

[2015-08-26 13:34] ghost commented on #21
Telegram is Open-Source so I suppose we could have a look at it?

[2015-08-26 13:39] ghost commented on #21
@f41c0r Indeed, telegram does store messages so that one can acces then on multiple devices. If you prefer end to end encryption you can use the secret chat feature which won't store the messages on telegrams servers and it's encrypted end to end.
There's been a lot of negativity about telegram but really, It's really not as bad as people think. We could definitely check out their source and see h

[2015-08-26 19:17] eighthave commented on #32
You can't upgrade from WhisperSystem's TextSecure to one signed by a different key.  That's an essential part of the Android security model.  So that means either using this @xmikos builds and sticking with them, or using WhisperSystem's builds and sticking with those.

[2015-08-26 21:26] xmikos commented on #32
If you have root, you can backup TextSecure app data with something like [Titanium Backup](https://play.google.com/store/apps/details?id=com.keramidas.TitaniumBackup), uninstall TextSecure from Google Play, install TextSecure from my F-Droid repository and restore app data with Titanium Backup.

This way you can switch to my F-Droid builds without loosing data (private keys, message history, etc.)

[2015-08-26 21:33] xmikos commented on #32
@eighthave I was talking about upgrade from my previous TextSecure builds (official GCM version, from my main F-Droid repo) to these new WebSocket builds (from my new experimental F-Droid repo). Both are signed by same key, so you can switch between GCM/WebSocket versions all you want without loosing data.

[2015-08-26 21:36] patcon commented on #32
fwiw no need for root to do an export and import via plaintext backup -- built into TextSecure

[2015-08-26 21:40] xmikos commented on #32
@patcon If I am not mistaken, integrated plaintext backup will not export the most important thing (private key), only messages history.

[2015-08-26 21:47] xmikos commented on #32
But TextSecure doesn't have backups disabled in AndroidManifest.xml file, so maybe you can use `adb` or [Helium Backup](https://play.google.com/store/apps/details?id=com.koushikdutta.backup) to make backup of app data without need for root permissions. But I didn't tested it.

[2015-08-26 22:22] patcon commented on #32
@xmikos oh hey you're totally right :)

went searching and found this, fyi: https://github.com/WhisperSystems/TextSecure/issues/802

[2015-08-27 11:46] mad-de commented on #30
Pretty similar issue: https://github.com/WhisperSystems/TextSecure/issues/3853
Deleting the
com.android.support:support-v4
com.android.support:support-annotations
lines in the "dependencyVerification" part of the build.gradle file however is an easy workaround fpor now to let it build succesfully until a definite merge with TS master has been made.

[2015-08-27 14:15] paride commented on #22
I'm trying it out and I'm surprised by how well it works. At the moment I can't do a strict comparison like the one that has been suggested by @f41c0r (and I'm not sure if it is really possible to do a meaningful one), but it is apparent that the websocket implementation does not drain the battery. TextSecure does not even appear in the battery stats.

[2015-08-28 11:53] git-marijus commented on #30
i removed those checksums for testing:

'org.whispersystems:textsecure-android:28d3cb7ee8ac8437f148b9b4f689546d1393287798f0f09acbe21716c8aee8d0',
'org.whispersystems:textsecure-java:5be870e48adce18fc911c648c264cc968b16cd2299eb9170dd3ddc63d716eaa7',

now the build fails with:

:compileProdDebugJava
Note: Some input files use or override a deprecated API.
Note: Recompile with -Xlint:deprecation for

[2015-08-30 09:37] ghost commented on #32
Can you provide a link with a fingerprint?

[2015-08-30 09:47] ghost commented on #32
nevermind, should have checked the website rather than adding the link as a repo :p

thanks!

[2015-08-31 21:42] zebra-ok commented on #22
I am planning to help out with more standardized battery reviews in the next days. But as far is I can tell until now, TextSecure with WS is draining the battery quite a lot. On my Nexus 5 with OmniRom and no GAPPS, the latest build takes around the same power as the display (!) as listed in Settings -> Battery. I had a medium phone usage, mostly checking / replying TS messages and checking news o

[2015-08-31 21:52] xmikos commented on #22
@art1fa This is strange, I am now using WebSocket build of TextSecure daily on Nexus 4 (with original Google ROM) and I don't see it in battery stats at all (that means power consumption is very low). I have checked it and according to logcat it is really using WebSockets (I have compiled it with `FORCE_WEBSOCKETS` in my F-Droid repository).

[2015-08-31 21:57] paride commented on #22
I also experience no significant battery drain on an old Galaxy S2 with Cyanogenmod 11 and no Google apps. I have to say that I tried it mostly on WiFi, this might be relevant.

[2015-08-31 22:04] xmikos commented on #22
I am using it both on WiFi and 3G (but WiFi use is much more frequent, about 80% of time). This is on latest Android 5.1.1

[2015-08-31 22:06] zebra-ok commented on #22
Well, I built the apk following the instructions on the wiki and the discussion here. At the end of the day, TS used something like 20% of the battery - that's how it was the last 5 days. I observed no significant change in battery drain when connected to Wifi or mobile data. I could try it also on my m7 later, but first i'll do the more objective test with my hammerhead.

Edit: I think the data u

[2015-08-31 22:46] patcon commented on #22
3G carrier can matter greatly:
- http://chimera.labs.oreilly.com/books/1230000000545/ch08.html#ELIMINATE_KEEP_ALIVES
- http://blog.hekkers.net/2012/12/09/websockets-and-mobile-network-operators/
- https://stackoverflow.com/questions/5557776/websockets-over-a-3g-connection

[2015-08-31 23:04] schachmat commented on #22
That could be a reason, but it still conflicts with @art1fa's report of “no significant change in battery drain”. Are you sure, your wifi connection does not suffer such a broken transparent proxy, @art1fa?

SSL might solve this issue for the users handicapped by their providers, but also is way more ressource hungry for connection establishment for all users. It might be worth trying out, but the

[2015-09-06 15:44] dejIO commented on #32
Here you can see the [Twitter conversation with moxie and xmikos about the F-Droid repo](https://cloud.githubusercontent.com/assets/1433926/9705240/83886c9c-54be-11e5-867a-458f24bf9b6a.png) (read bottom to top).

Thought you might be interested.

@JavaJens @xmikos

[2015-09-06 18:58] patcon commented on #32
@xmikos fwiw I don't think you or anyone else has the right to use the TextSecure name and logo. You can check out Firefox's [Iceweasel wiki article](https://en.wikipedia.org/wiki/Mozilla_Corporation_software_rebranded_by_the_Debian_project) for an analogous situation. Moxie's request is pretty reasonable imho -- and it will be confusing :(

[2015-09-06 19:26] paride commented on #32
@patcon the case with Firefox is not exactly the same, as Debian did modify the original source (for example removing the Firefox logo), while @xmikos is building TextSecure without any modification. He indeed offered to rename the unofficial WebSocket fork.

What I don't like is Moxie's attitude. I understand that he doesn't want unofficial forks to be named TextSecure, but everything else is pla

[2015-09-06 20:56] patcon opened #33 "Remove TextSecure & WhisperSystems branding"
If someone is hosting the app in an f-droid repo, this should probably be done. (?)

fwiw I'm not particularly in favour of this fork, but starting a new issue in light of this comment, and to keep issues granular:
https://github.com/JavaJens/TextSecure/issues/32#issuecomment-138094274

[2015-09-06 20:58] patcon commented on #32
I'm just saying, they can probably enforce a trademark if they want. They've released the code from their control, not the brand.

I've opened another issue so as not to explode this one with trademark discussion :) https://github.com/JavaJens/TextSecure/issues/33

[2015-09-07 10:05] Isgar commented on #33
I am in favor of this, as at this point it doesn't seem likely to be merged upstream anytime soon.
I get the point that this is causing confusion, so changing the name and logo and calling it a 'third party client for TextSecure' is appropriate.

The alternative is not distributing any binaries. Would a notice, that you are violating trademarks by doing so, be sufficient?

[2015-09-07 10:23] xmikos commented on #33
I am not going to stop distributing binaries in my https://fdroid.eutopia.cz repository. But like I have written to Moxie on Twitter, I am willing to rename WebSocket-fork build to something else (I will not rename builds from unchanged official TextSecure sources, that would be crazy).

Any suggestions on new name? WebSocketSecure seems too long, but I am still hoping that Moxie some day in the f

[2015-09-07 10:47] paride commented on #33
Call it Signal: the is no such Android app!
Just kidding, I hope this will be solved in a friendly way.

Unfortunately I don't think Moxie is going to merge WebSocket support into the official clients any soon. Sometimes I even think that the "we're working on it" notice on their website is a subtle way to discourage forks without actually implementing it.

In looking for a new name keep in mind t

[2015-09-07 12:43] schachmat commented on #33
Why do you think it is not going to be merged? There was only one pull-request until now and at the time it was not ready.

Now the changes are rather minimal and easy to check. The only concern (from my understanding) are the power issues #22.

So please focus your time on real development instead of splitting the community.

[2015-09-18 18:14] xmikos commented on #33
Moxie started with legal threats (yesterday on Twitter), so I am going to rename my builds. He doesn't have trademark registered in EU (at least I didn't find it), but he seems to hate the idea of independent builds (even from unchanged source code) so much that maybe he is capable of registering it just because of that. And of course I don't want him to waste time and money like that.

I will kee

[2015-09-18 20:14] xmikos commented on #33
And it's done, renamed builds are uploaded now.

[2015-09-18 20:18] xmikos commented on #32
I have renamed TextSecure to **TextLibre** and RedPhone to **PhoneLibre** in my F-Droid repository, for more info look here: https://github.com/JavaJens/TextSecure/issues/33#issuecomment-141523506

Application IDs are still the same, only strings has been renamed, so you will not lose data after upgrade.

[2015-09-20 13:25] h-2 commented on #32
THANK YOU VERY MUCH FOR THIS! :+1:

Unfortunately, I cannot install TextLibre. I have added the repo, but when I try to install `2.26.1-websocket` it downloads and then tells me that the file is currupt.

[2015-09-20 13:57] h-2 commented on #21
I use Conversations, Kontalk and Telegram, all without Push and I get 2 days of battery life with my OnePlus One. Kontalk is even in "always-on" mode where it permanently keeps a connection.
The main issue with not having push is that multiple applications poll or keep-alive at different intervals. If all of the mentioned applications where to do so every 6 minutes of the hour exactly (for example

[2015-09-20 14:03] ghost commented on #21
Perhaps that would be a nice feature for Android. Allowing users to set a refresh interval in android itself. That way it could sleep said interval and allow all apps to refresh at once.
This interval can then also increase/decrease for battery saving.

[2015-09-20 15:09] schachmat commented on #21
Just use http://developer.android.com/reference/android/app/AlarmManager.html#setWindow(int, long, long, android.app.PendingIntent) for that. Enforcing a global refresh interval would restrict apps needing a more frequent wakeup.

[2015-09-20 17:26] xmikos commented on #32
@h-2 If you have original Moxie's build from Google Play still installed, you can't upgrade to my builds (because they are signed by different key). You must first uninstall Moxie's build and then install mine (if you want app data to be preserved, you have to backup it first with something like Titanium Backup).

[2015-09-20 18:46] h-2 commented on #32
@xmikos no, I don't have an original TS installed. Its not a problem of different key, but of broken file or currupt file (don't know what the english translation is). Like, there is a size or checksum mismatch in f-droid from the expected one. Or I am being MITMed :scream:

[2015-09-20 19:20] xmikos commented on #32
@h-2 files on server aren't corrupt, I have tried to reinstall it again without problems. So something must be messing with your download (but server has valid SSL certificate, if you are being MITMed, it must be someone with CA keys, which is very unlikely).

[2015-09-20 19:28] xmikos commented on #32
Oh, sorry, you were right, F-Droid is telling me that file is corrupted (I have re/installed it from manually downloaded apk before). But the apk isn't corrupted, something must be wrong with F-Droid repo index (maybe because of rename), I will look into it...

[2015-09-20 20:31] xmikos commented on #32
@h-2 It's fixed, problem was as I thought with repository index (because appid and version has been same after rename, _fdroid_ didn't regenerate informations in index file, but used previous one from cache - so old sha256sum before rename has been there). Thank you for noticing me and sorry for inconvenience.

[2015-09-20 20:50] h-2 commented on #32
No, thank you for packaging in an F-Droid-repo! It works now :)

[2015-09-20 21:28] h-2 commented on #21
In any case thanks for still working on this. It is relevant to a lot of people I know!

[2015-09-21 06:43] ghost commented on #21
So I came across a few articles that somehow suggest governments can't read whatsapp as it's end-to-end encrypted. They did indeed work with open whisper systems but they never documented this.

http://uk.businessinsider.com/whatsapp-snapchat-encryption-isis-lord-king-2015-1?op=1

http://readwrite.com/2015/01/13/david-cameron-encryption-messaging-apps-imessage-whatsapp-snapchat

I'm assuming whats

[2015-09-21 07:16] JavaJens commented on #21
IIRC correctly this is only on the Android version and it is not transparent to the user if the encryption is used or not: http://www.heise.de/ct/artikel/Keeping-Tabs-on-WhatsApp-s-Encryption-2630361.html
See this blog post for the OWS side of things: https://whispersystems.org/blog/whatsapp/

But please, bring it back to topic :wink: Maybe the (un)official mailing list is a better place.

[2015-09-21 08:00] ghost commented on #21
Plus the fact that there's no fingerprint checking so there's no way to tell if there is a mitm attack.

Where exactly can I find the mailing list?

[2015-09-21 09:50] onny commented on #32
Yep thank you very much! Also using it and already told a lot of people about it :)

[2015-09-22 22:45] relyt29 opened #35 "Merge upstream 2.27.0 into websocket-reborn"
This needs to be done, I'm too busy to do it right now but when my life settles down, I'll get to it and do it.

alternatively someone else can step up to merge in the new commits, but if nobody does, I'll do it in a week or so

[2015-09-22 23:04] schachmat commented on #35
I created #36.

[2015-09-24 21:37] relyt29 commented on #35
Cool, thanks!

[2015-09-24 21:37] #35 closed, assigned to nobody

[2015-10-01 10:45] paride commented on #33
@xmikos It seems to me that RedPhone finally got merged into TextSecure in the master branch, and that TextSecure has been renamed into Signal. The release is probably imminent.

I'm writing this here as you may want to rename TextLibre too.

[2015-10-01 10:49] xmikos commented on #33
@legovini I know, I am watching commits on TextSecure. I will do renamed release of Signal soon after official release.

[2015-10-01 13:43] relyt29 opened #37 "Merge upstream 2.28.0 into websocket-reborn + Signal update"
Folks,

Again still too busy to do this right now, but upstream has had a major update. If someone wants to step in again to do the merge from upstream, go for it otherwise in a few weeks I will finally get back to it.

If someone does step in to do the merge, BE CAREFUL, MANUALLY TEST THE NEW CODE WORKS - there's gonna be a huge diff and stuff will probably break because of it.

[2015-10-02 13:25] relyt29 commented on #37
Nevermind I am actually working on this, I have the code merged and apks generated. Will do testing later. I'm unsure how to handle the redphone components... Presumably there's a new "voice" boolean that gets sent to the server upon registration, I may set that to false until calling can be figured out without GCM

[2015-10-02 13:39] schachmat commented on #37
Actually I can at least initiate calls with the original redphone without GCM, so I don't think there is a hard dependency there.

[2015-10-02 13:45] relyt29 commented on #37
ooh that gives me hope, I'll look into it more when I get a chance to load up the APKs onto my test phones

[2015-10-04 00:37] xmikos commented on #33
I have now published independent build of latest Signal 3.0.1 on https://fdroid.eutopia.cz. It has been renamed to **LibreSignal**.

[2015-10-04 00:41] xmikos commented on #32
I have already published independent build of latest Signal (TextSecure merged with RedPhone) on https://fdroid.eutopia.cz. It has been renamed to **LibreSignal**.

I will also update experimental repo (app under same name LibreSignal) as soon as WebSocket-fork will be updated.

[2015-10-04 08:51] git-marijus commented on #32
@xmikos your builds for the fdroid repo asks to install gcm during registration process. tested 2.28 and 3.0

[2015-10-04 09:21] xmikos commented on #32
@git-marijus Yes, builds in my standard F-Droid repo are from unchanged official source code (except for rename of strings) which requires GCM. Builds of WebSocket fork are in _experimental_ repo (latest version is _2.27.0-websocket_).

[2015-10-04 09:31] git-marijus commented on #32
ah... thanks for clarification...

[2015-10-05 13:19] #37 closed, assigned to nobody

[2015-10-06 12:06] ghost opened #39 "LibreSignal"
So I noticed LibreText is now LibreSignal.
Can someone clarify?
The play store version does not seem to be renamed to signal yet. And calling doesn't work either yet. So what's up whit this update?

[2015-10-06 12:08] JavaJens commented on #39
RedPhone has been merged into the main version. However it is currently only in Beta.
Regarding this fork, RedPhone capabilities have been disabled until there is time available to figure out if/how calling works without GCM.

[2015-10-06 12:08] #39 closed, assigned to nobody

[2015-10-06 15:09] xmikos commented on #39
@JasperWeiss if you use builds of LibreSignal from my main repository (not WebSocket-fork, which is in my experimental repository), calling should work. But according to issue [#4181](https://github.com/WhisperSystems/TextSecure/issues/4181) you can't call people who are still using old RedPhone. (Libre)Signal will not offer you encrypted calls with them, but they will see you as using RedPhone an

[2015-10-06 16:14] ghost commented on #39
@xmikos I'll get the main repository then and do some testing. I'll also check if someone can call me if I'm on websocket. Just for the fun of it
Anything else I can help with?

[2015-10-06 16:23] ghost commented on #39
Also, Just noticed something. It may just be me, but LibreSignal is draining my battery A LOT. According to android battery statistics it uses 16%. My phone used to be at about 20% at the end of the day, now it's empty just before dinner.

[2015-10-06 16:25] xmikos commented on #33
FYI: I have noticed that `android:allowBackup="false"` has been added to Signal AndroidManifest.xml file. So people now can't backup Signal without rooting their device.

[2015-10-06 16:27] xmikos commented on #39
I don't see bigger battery drain on my device (Nexus 4).

[2015-10-06 16:32] paride commented on #39
FYI: moxie wrote something about implementing WebSockets on Android M:

https://lists.riseup.net/www/arc/whispersystems/2015-10/msg00016.html

also interesting:

https://lists.riseup.net/www/arc/whispersystems/2015-10/msg00017.html

[2015-10-06 20:21] h-2 commented on #21
I see that we now get LibreSignal builds, but that RedPhone registration is still disabled. Is this something that is planned to work with Websockets, as well? Probably a unified patch will be necessary to be accepted upstream, now that the apps are merged, right?

[2015-10-06 20:27] h-2 commented on #22
Some totally not representive stats:

After 12hours, about 39% of battery is used here:
6% Display
4% Kontalk
4% Android-System
4% Android-OS
4% TextLibre
3% K-9Mail
3% Lightning
3% Telegram
2% Conversations
...

I have used TextLibre, Kontalk and Telegram about the same amount (2-3 messages each). Kontalk was not set to "always on", i.e. Kontalk, Telegram and Conversations are all polling for the

[2015-10-07 08:55] xmikos commented on #39
Just FYI: It is intended behavior that you can't call old RedPhone users with new Signal, see this post by Moxie:

https://lists.riseup.net/www/arc/whispersystems/2015-10/msg00001.html

[code]

When Signal gets out of beta, RedPhone should be updated with prompt for a migration over to Signal.

[2015-10-07 11:57] vuyibiran opened #41 "Network failure when calling with websocket-reborn"
Hello

First of all: Your work (I mean all the contributors) is really appreciated. The websockets is really nice if one does not want to rely on google ;)
Thanks for the effort and pls keep up the good work. Maybe this will eventually integrated to the original.

To the problem:
I built your fork today from source and tried to make a call between two websocket-reborn versions (3.0.1-dev).
But I g

[2015-10-07 12:00] vuyibiran opened #42 "Websocket-reborn 3.0.1-dev cannot communicate with signal 3.0.2"
I remember that it was possible to communicate between websocket-reborn 2.27 and textsecure 2.27.

I tried today to send some text from websocket-reborn 3.0.1-dev to signal 3.0.2 (on android) but the text never arrives. This also does not work vice versa.

Unfortunately I cannot attach a useful log.

[2015-10-07 12:05] zebra-ok commented on #30
My checksums of the fixed libtextecure-java and libtextsecure-android builds worked by configuring `build.gradle` to first check `mavenLocal()` before the remote repos:

[code]

[2015-10-07 13:24] relyt29 commented on #41
Yes, phone calls are not supported at this time on websocket-reborn. We hope to have them supported in the future, but for now they are not supported.

[2015-10-07 13:29] relyt29 commented on #42
The changes between 3.0.1 and 3,0.2 are minimal, I highly doubt that 3.0.2 is the/a root of the problem. It's possible, likely even, that there are issues with the websocket-reborn 3.0.1 implementation. But with only anecdotal evidence of problems, and no debug information, I can't really help. If anybody else is experiencing the same problem, please comment further...

if you have the android deb

[2015-10-07 14:04] vuyibiran commented on #42
I can provide a log.
I think this could be some problem server side.
But I hope you can find something, so here is the log:
.

[2015-10-07 15:30] mad-de opened #43 "Building fails"
Building fails on ubuntu 15.04; Java: Java(TM) SE Runtime Environment (build 1.8.0_60-b27)
Tested with Java 7 with same result.

Output:
:dexProdWebsockets
AGPBI: {"kind":"SIMPLE","text":"Picked up JAVA_TOOL_OPTIONS: -javaagent:/usr/share/java/jayatanaag.jar ","position":{},"original":"Picked up JAVA_TOOL_OPTIONS: -javaagent:/usr/share/java/jayatanaag.jar "}
AGPBI: {"kind":"SIMPLE","text":"Java Ho

[2015-10-07 15:38] xmikos commented on #42
@vuyibiran You are connecting to staging server (https://textsecure-service-staging.whispersystems.org), not production server. To be able to communicate with other TextSecure/Signal users, you have to connect to production server. Build Signal like this:

[code]

[2015-10-07 16:18] relyt29 commented on #42
(or if you're using android-studio, make sure on the last page, after you unlock your keystore, you're selecting production, not staging)

[2015-10-07 17:56] patcon commented on #33
It might have something to do with disabling the new auto-backup features for app data :)
https://developer.android.com/training/backup/autosyncapi.html#disabling

[2015-10-07 17:56] #33 closed, assigned to nobody

[2015-10-07 18:04] xmikos commented on #33
@patcon Whatever is the reason, disallowing backups without first (re)implementing encrypted export of keys is really rude to users. Without root, nobody can now e.g. switch to another device without losing keys (which means users have to compare all fingerprints with everybody else again to rule out MITM, not a small task).

[2015-10-07 18:13] xmikos commented on #33
@patcon autobackup feature is only relevant to Android 6, which only very few users have on their devices (and it will take very long time before it will hit significant percent of users). And if you have strong password, it doesn't affect security of TextSecure/Signal. Disallowing backups on the other hand affects almost everyone.

[2015-10-07 18:35] patcon commented on #33
I'm with you that it sucks :( Maybe open an issue in the upstream repo?

[2015-10-08 08:03] vuyibiran commented on #42
Thanks a lot, using the staging server does work. So one more question for clarification:
whispersystems is providing different servers that you use with the websocket-version?

[2015-10-08 10:26] xmikos commented on #42
@vuyibiran I don't understand you, you were using _staging_ server before (and it was the reason why you couldn't communicate with other TextSecure/Signal users). If you followed our instructions, you are now using _production_ server.

Both _staging_ and _production_ servers are operated by Open Whisper Systems, but _staging_ server is intended for testing development versions only (it doesn't fe

[2015-10-08 11:30] vuyibiran commented on #42
@xmikos, thanks for clarification. Closing this ticket now.

[2015-10-08 11:30] #42 closed, assigned to nobody

[2015-10-09 01:53] Asara commented on #32
Is there a migration path from Signal to LibreSignal without using proprietary software?  I've tried adb pulling /data/data/org.thoughtcrime.securesms and then pushing it after installing LibreSignal, but I get errors saying LibreSignal is unable to register with Google Play and then crashes out.  If I click the error in the drop down, it tells me my version of Google Play is broken and to downloa

[2015-10-09 17:20] xmikos opened #44 "ZRTP key continuity check removed from Signal/RedPhone"
One of key security features of ZRTP encrypted phone calls - [key continuity](https://en.wikipedia.org/wiki/ZRTP#Key_continuity) - has been removed from RedPhone when it has been integrated into Signal. See this issue for more info:

[#4226: No warning when getting a call from contact with new key](https://github.com/WhisperSystems/TextSecure/issues/4226)

Moxie closed it without explanation why i

[2015-10-09 17:26] relyt29 commented on #44
just curious, what is SAS?

[2015-10-09 17:27] relyt29 commented on #33
Comment on the mailing list. Opening issues for philosophical disagreements almost always gets closed with "This is an issue tracker not a discussion forum"

[2015-10-09 17:31] xmikos commented on #44
@f41c0r SAS is _Short Authentication String_, shared value (those two words displayed on screen while calling with RedPhone/Signal) which both communicating parties should verbally cross-check. With key continuity, it is sufficient to cross-check SAS only in first call (TOFU model - Trust On First Use). But without key continuity, you have to cross-check SAS in _every_ call to avoid potential MITM

[2015-10-09 19:29] xmikos commented on #32
@Asara You could have use `adb backup` in the past (which doesn't need root), but backups has been disallowed in `AndroidManifest.xml` file since Signal 3.0 update :-( So now you definitely need root to backup app data.

With root, you can use [oandbackup](https://f-droid.org/repository/browse/?fdfilter=backup&fdid=dk.jens.backup) to backup & restore app data. It is similar to Titanium Backup (IMH

[2015-10-09 23:02] ghost commented on #21
Wow, this endeavor has been going on quite a while. I admire the determination all around, thank you.

Do we think this has a chance of accepted by @moxie0? And 3rd party distribution would be accepted. It seems he's been doing everything possible to stop that. It'd be a shame if all this hard work were to go to waste.

[2015-10-10 09:39] iexos commented on #21
They can't really do anything about 3rd party distribution as long as it doesn't violate trademark.

But if this fork really is not going to be merged, it is worth considering setting up a seperate server with federation to Open Whisper Systems. Apart from facilitating goodwill upstream, this prevents WS Signal to break should they decide to close/change the websocket API.

[2015-10-10 17:29] h-2 commented on #21
I think distribution and websockets are two different issues and should be treated as such. Let's try to tackle websockets first and get that upstream. Whether there will official TextSecure builds for F-Droid? I doubt it, but making a lot of commotion about third party builds now won't help us to get websocket-support merged...

[2015-10-10 17:32] h-2 commented on #44
I think it would be wise to keep the diff of the websocket-branch absolutely minimal as long as there is a chance of it being merged upstream. Iff this can be ruled out, one should think about a real fork (with potentially different features).

[2015-10-10 17:37] xmikos commented on #44
@h-2 This is really important basic security feature, without it even cSipSimple (or any other SIP client which supports ZRTP) is much more secure than Signal.

[2015-10-10 17:43] h-2 commented on #44
@xmikos the other thread suggests that it might be a temporary change. Also I think that as long as we want something from moxie (i.e. to accept the patch) we should not pick other fights with him. Its not very polite or smart ;) We can discuss it afterwards, and ultimately we would want the feature to be active for mainline TS users, as well.

[2015-10-10 17:53] xmikos commented on #44
@h-2 I surely hope that it is only temporary while Signal is in beta. But Moxie didn't write anything to assure us that it is indeed like that. Btw. I don't believe anymore that WebSocket support will ever get merged upstream.

[2015-10-10 18:31] ghost commented on #21
According to Whisper System's [statement](http://support.whispersystems.org/customer/en/portal/articles/2123166-why-do-i-need-google-play-installed-to-use-textsecure-on-android-) they're directly related to the issue of supporting devices without Google services. That's the whole point of adding websocket functionality, correct?

@iexos I think this is the most realistic option. It's closing in on

[2015-10-10 19:37] h-2 commented on #21
Yes and No. The point of websockets is supporting  non-GCM platforms, but that doesn't mean they support F-Droid as distributions model or anything like that. I think they might accept the patch just as a basis for other clients (Chrome-Plugin...) and not offer any other Android packages. Or they might offer self-updating, self-signed APKs. My point is that since I know Moxie has a particular disl

[2015-10-10 19:58] patcon opened #45 "Get determininistic builds working"
Another issue reminded me that that OWS has with fdroid is that, by default, the APKs are signed by the buildserver rather than the developers. F-droid has a means to allow the developer to sign if the builds are byte for byte deterministic and repeatable:

https://f-droid.org/wiki/page/Deterministic,_Reproducible_Builds

Just creating this issue to track any efforts there, as that might make the

[2015-10-11 01:05] iexos commented on #21
moxie said he prefers we don't use their server, so I would guess he would at least be more open to federation? If it is technically viable, of course. In any way, splitting the userbase is not an option.

[2015-10-11 13:10] h-2 commented on #45
OWS was asked to just kindly provide their own f-droid repository, than they could have signed themselves, too, but Moxie did not like it. I don't think it makes much sense to try any convincing there right now.

[2015-10-11 17:37] patcon commented on #45
Ah, ok, you're right that it might not be the actual solution, but I am of the firm believe that all package build systems should be deterministic, so I still wouldn't mind working on this. I want it to exist, as it's the only thing that guarantees public code reflects actual build artifact :)

[2015-10-11 23:37] relyt29 commented on #45
This is a good idea and should be implemented. Especially with the fact that libtextsecure-java's sha512 hash differs during the build process for this fork in general, it will make the build process simpler from a trust perspective.

I also believe if this gets done and someone makes a post about the details of implementing it to the OWS mailing list it has a good chance of being implemented upst

[2015-10-11 23:47] schachmat commented on #45
I also agree that deterministic builds are needed, but not in the same context as the websockets branch. Considering the planned PR to the OWS repo, this branch should not be polluted by other features since it would only complicate the merge even more. Feel free to implement it an a separate fork or maybe @JavaJens wants to do it in a separate branch in his own repo.

[2015-10-12 03:10] Asara commented on #32
@xmikos Awesome man!  After using oandbackup everything besides group texts work now.  Don't know if that is related to me moving the data, the phone, or what, but for some reason I can't reply/send message to people in a group.  Regardless, thanks!

[2015-10-12 06:35] janvlug commented on #32
See this issue for group issues after restore: https://github.com/WhisperSystems/TextSecure/issues/1048

[2015-10-18 19:55] dev-mb-zz commented on #32
Just to add some hints for people who had similar problems (incomplete uninstall/problems with key import) as I had while upgrading from self-build websockets-versions of textsecure to the LibreSignal builds from this f-droid respo:
1. back up your data key/conversations with  oandbackup
2. uninstall old textsecure
   (if there are problems. use "pm uninstall org.thoughtcrime.securesms" and "rm /d

[2015-10-24 17:48] bonanza123 commented on #32
You should be able to upgrade from official TS to LibreSignal using this Xposed module http://repo.xposed.info/module/com.pyler.xinstaller and temporarily disabling signature checking

[2015-11-04 10:22] hasdf opened #46 "the future of this fork?"
Sry, if this is the wrong place.

Since Textsecure and Redphone for Android are now just Signal: What will be the future of this fork?
- Provide Signal with WebSockets
- Provide Textsecure like now and be compatible to the Signal app

Thanks for your work!
A Jolla user

[2015-11-04 10:27] xmikos commented on #46
This repo already provides Signal with WebSockets.

[2015-11-04 10:48] #46 closed, assigned to nobody

[2015-11-06 17:08] Knexi opened #47 "Playstore Error"
Hi

I got a problem with the Signal Fork without the Google Play Store.
If i try to register my phone number I get the Error that I have to install the Playstore in order to use this app but shouldn't it work without the google Playstore?

I cant get around this error message. Is there any fix for this?

[2015-11-06 19:43] JavaJens commented on #47
Did you make sure that you build the Websocket Version?

[2015-11-07 00:51] Knexi commented on #47
I'm using the Fdroid build from Michal Krenek on following repo.
I don't know if hes building the websocket version. Maybe you can tell me.

[2015-11-07 01:02] Knexi commented on #47
I'm using the Version from Michal Krenek on following repository: https://eutopia.cz/fdroid/repo/
I didn't know that this could be build without the Websocket. Maybe you can tell me if the version from the Repo above is including the Websocket

[2015-11-07 08:17] xmikos commented on #47
@Knexi You have to use builds from my _experimental_ repo. In _main_ repo there are builds of official Signal source code (renamed to LibreSignal), not WebSocket fork. See https://fdroid.eutopia.cz

[2015-11-07 13:17] Knexi commented on #47
Thanks now it works

[2015-11-07 13:18] #47 closed, assigned to nobody

[2015-11-09 18:14] relyt29 commented on #43
I don't 100% know what this is saying but it looks to me like your computer ran out of RAM...?

[2015-11-10 06:40] nRaecheR opened #49 "Registration without Google Services installed impossible"
I've tried to register my phone number with LibeSignal 3.1.1 on my purely ASOP Android device (CM 12) but it states that the Google Play Services it too old. In fact there is nothing from Google Install, no GAPPS.

Is there any way to use LibreSignal without Google Services ?

[2015-11-10 07:00] bonanza123 commented on #49
As some kind of workaround you can maybe use https://github.com/microg/android_packages_apps_GmsCore to temporarily install some fake play services.

[2015-11-10 07:40] JavaJens commented on #49
Have you looked at #47 ? Just to make sure.

[2015-11-10 08:36] JavaJens commented on #45
I sadly don't have much spare time at the moment. But if someone makes a PR to upstream, I am open to merging that in here as well.

[2015-11-10 12:26] vuyibiran opened #50 "Adding microg Gsm support / switching from websockets ?"
Hello @JavaJens and @all

First of all, thanks for this websocket-version. I am running 3.3.1 at the moment and you did great work! Really appreciate it.

To the technical situation:

We all know that it might take a long time to have websocket support integrated into Signal. There is a lot of discussion with the Signal developers but they refuse the integration for several reasons. It's unclear a

[2015-11-10 12:27] vuyibiran commented on #49
@nRaecheR

Using the websocket-version 3.3.1. without any google apps/framework. You might have done something wrong during compiling.

[2015-11-10 13:22] JavaJens commented on #50
I haven't heard of that project before, so take my answer with a grain of salt. From my understanding though, API compatible and the way the XDA thread is written I don't see anything that needs to be done from an application developer standpoint.

If there is something to do, I have to admit that I currently don't have the time to commit any valuable effort to this project. So I think a separate

[2015-11-10 14:03] relyt29 commented on #49
Did you check that you specified the websocket build when you compiled in Android-Studio?

[2015-11-10 19:21] nRaecheR commented on #49
Yes, sorry, it was my fault, I've installed the regular, non-websocket version...sorry for the noise, now it works without problems.

Thank you all for your help ! Closing issue.

[2015-11-10 19:21] #49 closed, assigned to nobody

[2015-11-11 22:04] patcon commented on #50
Interesting. This seems to be the compatibility library that would allow [moxie's suggestion](https://news.ycombinator.com/item?id=10500188) to work:
https://github.com/microg/android_external_GmsLib

[2015-11-12 00:40] relyt29 commented on #50
This guy claims to be running Signal with GmsCore: (From patcon's link) http://o9i.de/2015/10/23/howto-gmscore.html
If that's indeed the case, this fork may no longer have a point. I will be so thrilled especially if it does phone calls too. Definitely going to check this out asap

[2015-11-12 07:13] JavaJens commented on #50
@patcon If I read it right, the link you posted would replace the library needed to build the app right?
Whereas, using the GmsCore would not require any changes on the App.

I see the following options:
1. GmsCore would allow People without PlayServices to tweak their device as needed
2. GmsLib would allow People without PlayServices to use Signal anyway

Either way, pretty sweet. @f41c0r Please

[2015-11-12 21:17] patcon commented on #50
@JavaJens actually, my understanding from this readme line lead me to believe that GmcLib was a shim that was required in to be compiled into any app in order for it to properly use GsmCore:

But working on some other stuff though, so haven't even skimmed the source :)

[2015-11-12 21:53] JavaJens commented on #50
@patcon I think GmsLib and GmsCore are two different things. Similar to the Play Services, there is a library that needs to be present for building and one that is on the device.

[2015-11-13 11:17] ddorian1 commented on #50
I have just tried it. It's working without the need to rebuild Sigal. I have used the instructions at top of this thread: http://forum.xda-developers.com/android/apps-games/app-microg-gmscore-floss-play-services-t3217616

The only problem is, that you either need to patch and rebuild your rom or have xposed installed (and therfore have your device rooted) to use it.

[2015-11-13 20:27] pejakm commented on #50
I'm using microG GmsCore for about a month already, and it works great with Signal (the original version from Playstore). EuphoriaOS for p880 is already patched, so I had no troubles with that. I compiled GmsCore with the heartbeat interval of 5 minutes, instead of 1, so it's a bit easier on battery...

[2015-11-16 12:53] vuyibiran commented on #50
Good to see that there's a discussion going on now ;)

Running microG GmsCore for a few days. It's working (also calls) with signal build from original sources withouthout further modification.

But right, the rom has to be patched or xposed has to be used. So my initial idea (see first post) was to implement a compile option to use the microg GsmCore without the need of patching the rom. If this

[2015-11-20 10:17] SecUpwN opened #51 "Rename repository to LibreSignal"
Hi there @JavaJens, first of all: Huge THANKS for making this possible and for rocking the code without Google spy crap for us privacy geeks! I have found your work while reading the article [Android: Signal ohne Google Cloud Messaging](http://www.kuketz-blog.de/android-signal-ohne-google-cloud-messaging/) on the awesome Kuketz Blog. I am sure that if you would rename your fork, much more people w

[2015-11-20 10:25] SecUpwN opened #52 "Implement OFFLINE SMS encryption"
I know that WhisperSystems out offline SMS encryption from their apps, but maybe you'd be able to re-enable SMS encryption from [SMSSecure](https://github.com/SMSSecure/SMSSecure) within LibreSignal? This for sure would make LibreSignal the ULTIMATE app for encrypted communication and I'm sure others would enjoy an "app for everything".

[2015-11-20 10:32] SecUpwN opened #53 "Import SMS from SMSSecure"
Hi there, me again! This will be my last Issue on your repo for today, promised. I am currently playing with LibreSignal and would like to import my SMS from [SMSSecure](www.smssecure.org), backed up in cleartext. Seems like LibreSignal does not recognize the backup file yet, would be lively if it did in the future. Also, maybe it would be possible to add support to directly import the SMS from SM

[2015-11-21 01:58] dejIO commented on #33
@xmikos Your move has been received very favourably by renowed German tech blogger Mike Kuketz: http://www.kuketz-blog.de/android-signal-ohne-google-cloud-messaging/

Congratulations!

[2015-11-21 08:34] xenithorb opened #54 "Signal calling not working for 3.3.1-websocket"
Using "LibreSignal" from eutopia.cz/experimental/fdroid/repo
Version: 3.3.1-websocket

Calling does not work between websocket and GCM, I have not tested websocket <--> websocket, gcm <--> gcm works.

On the GCM end, the call continues to ring until failure.
On the websocket end, the call starts and then immediately fails.

Any idea if this will ever work?

[2015-11-21 08:37] xenithorb commented on #51
+1 for this considering this is the name as you can find it build on the eutopia.cz repo.

Any reason this can't be incorporated into F-droid proper now that it doesn't need GCM stuff?

Regardless, a name that distinguishes itself is important. Thanks for the hard work @JavaJens

[2015-11-21 09:13] JavaJens commented on #51
Hey,
I don't think I want to do this. I still think of this repo as a fork and renaming is only required for distribution. Xmikos does this already with his fork nicely.
I don't want to distinguish this repo from anything, it just is a fork for one feature.

Maybe @xmikos cares to create a Organization that manages his build along with a central place for feature requests, but I don't think I want

[2015-11-21 09:13] #51 closed, assigned to nobody

[2015-11-21 09:14] JavaJens commented on #53
Please see my comment in #51: I don't want to implement any new features here.

[2015-11-21 09:14] #53 closed, assigned to nobody

[2015-11-21 09:15] JavaJens commented on #52
Please see my comment in #51: I don't want to implement any new features here.
Maybe you can open an issue with SMSSecure to include the upstream changes?

[2015-11-21 09:15] #52 closed, assigned to nobody

[2015-11-21 09:17] JavaJens commented on #43
Feel free to reopen if this issue persists

[2015-11-21 09:17] #43 closed, assigned to nobody

[2015-11-21 09:17] #41 closed, assigned to nobody

[2015-11-21 09:18] #32 closed, assigned to nobody

[2015-11-21 09:18] #30 closed, assigned to nobody

[2015-11-21 09:19] JavaJens commented on #54
I have never used this, so I don't really know.
But from what others have reported, calling works fine, but receiving does not. See the comments in here: https://github.com/JavaJens/TextSecure/issues/39

However, I think the registration is still disabled.

[2015-11-21 10:41] JavaJens commented on #54
@f41c0r I think we can enable the registration to Redphone. What do you say?
From a quick test this allows calling people, but, of course, being called doesn't work.
The caller that tries to call a websocket phone gets a message "Not registered user" or similar.

[2015-11-21 15:13] relyt29 commented on #54
I'm fine with it, as long as its clear to everyone that its buggy, maybe add a note in the readme about it and add it to the popup code you just merged?

[2015-11-24 14:51] SecUpwN commented on #52
Likely not. @SMSSecure is focused on pure SMS encryption, but maybe they're so kind to respond here?

[2015-11-24 15:00] SecUpwN commented on #53
@JavaJens, it is not a new feature, it is an enhancement. I have investigated this and found the **simple solution**: The backup from SMSSecure does not get accepted just because its file name is `SMSSecurePlaintextBackup.xml` - renaming it to `TextSecurePlaintextBackup.xml` makes it get accepted by LibreSignal. Please re-open this Issue and add some liberty to accept other backup names.

[2015-11-24 15:08] SecUpwN commented on #51
It does not have to. Please just rename your repository to `https://github.com/JavaJens/LibreSignal`. As a user of `LibreSignal` uodating via F-Droid, I was confused as of the naming. Renaming would do:
1. Repository gets found better by people wanting to contribute to its liberty
2. Users know that it is an "unchained" _fork_ of `Signal` and indeed **not** `TextSecure`

[2015-11-24 15:29] schachmat commented on #51
Heyho @SecUpwN,

LibreSignal is neither developed nor deployed by JavaJens, therefore it would be inapropriate to rename this repository (as it is inapropriate for any support questions by people who apparently could not inform themselves in advance). LibreSignal is done by @xmikos, therefore he should actually create his own fork to deal with all those non-websocket-feature-related questions.

[2015-11-24 15:30] schachmat commented on #53
It is however not an enhancment to the websocket support, which is the sole purpose of this fork.

[2015-11-24 15:40] SecUpwN commented on #53
So where to file this Issue then? And if users shall not file Issues related to anything other than the websocket support, please add a [CONTRIBUTING.md](https://github.com/blog/1184-contributing-guidelines) and mention it on your `README` at [Contributing Bug reports](https://github.com/JavaJens/TextSecure#contributing-bug-reports). This limitation, however, makes me feel like people are not want

[2015-11-24 15:42] SecUpwN commented on #51
Thanks for your clarification @schachmat, it helped me a lot. Liebe Grüße von um die Ecke! ;-)

[2015-11-25 03:53] relyt29 commented on #50
I've been looking at this. I personally do not like the idea of using xposed and whatnot, it's not simple enough for my liking. Plus would be nice to support non-root users as well. I have Signal compiling against android_external_GmsLib ,but it crashes at registration time because of a null pointer dereference, so I'll have to look into that. Something gmslib returns is null which then gets deref

[2015-11-25 04:28] relyt29 commented on #53
The point of this project is to develop a method for people without Google Play to use TextSecure on their devices, _<b>and then merge that code back into upstream.</b>_ It is not to develop the "ULTIMATE" fork, or add new features beyond that. That would increase the already sizeable diff between the two codebases and make it harder for us to merge. Similarly, I don't think we'll be changing the

[2015-11-25 07:32] JavaJens commented on #50
@f41c0r But you also have the GmsCore installed correct?

From my understanding running only GmsLib would not require root on the device. The question which remains is: what is their "basic fallback implementation" ?

[2015-11-25 14:54] relyt29 commented on #50
gmsCore I sideloaded, it never asked for root permissions.

[2015-11-29 14:04] h-2 commented on #54
Is this a problem of upstream, i.e. is there no websocket API for the phone-stuff? Or is it a problem in the forked client?

If I can help through testing, please let me know!

Thanks!

[2015-11-29 14:23] JavaJens commented on #54
@h-2 Well, sorta. The source code for the (unified) server is not available. I think they are running two separate servers in parallel, so the phone stuff is handled by the original RedPhone server for which there never was open source.

I asked on the mailinglist regarding websocket support for calls, but never got a reply.
I might open a ticket against the server source, but am not sure yet on h

[2015-11-29 18:14] h-2 commented on #54
really? :worried:

Do you know if they ever planned on releasing it?

Yeah, I understand. Thanks for not giving up :+1:

[2015-11-29 18:55] relyt29 commented on #54
Do we have any documentation whatsoever on the redphone protocol? Is there a chance its just vanilla XMPP + ZRTP like jitsi can do?

I saw your post on the mailing list javajens, I hope they decide to release source... :S

[2015-11-29 18:57] relyt29 commented on #50
I'm not sure how in love with this I am. MicroG may be FOSS, but its still basically making a bunch of requests to Google all the time. Maybe just keeping a websockets only approach is better, since it limits your requests to only the TS servers.

[2015-11-30 07:04] xmikos commented on #54
@f41c0r It's standard ZRTP, but they use their own simple signaling protocol, not XMPP or SIP. But with key continuity check disabled after switch from RedPhone to Signal, there is much greater chance of MITM then in other ZRTP-based phone apps :-(

[2015-12-02 08:42] mvught opened #55 "update signal 3.6.0"
Hello,

first i want to thank you all for making a signal version without the need of GCM.
with the websocket version iam able to use signal on my BB10.

iam wondering if its possible to upgrade signal 3.3.1 to a newer version.
as i dont have any experiance with programming iam depinding on you guys to update te to a newer version.

regards

[2015-12-02 11:41] schachmat commented on #55
I started creating a new PR a week ago, but didn't have the time to finish it yet. If someone else is faster, be my guest, you're welcome.

[2015-12-03 00:23] schachmat commented on #55
Here you go: #56

[2015-12-04 08:43] mvught commented on #55
Thanks ;)

[2015-12-04 08:43] #55 closed, assigned to nobody

[2015-12-06 23:36] ThomasWaldmann opened #57 "instructions incomplete?"
thanks for your efforts in getting signal working without gcm!

Somehow the instructions seem incomplete:

https://github.com/JavaJens/TextSecure/wiki/Building-the-Websockets-reborn-fork

i tried to follow them, but noticed some differences:
- cd ~/.m2/repository/org/whispersystems/textsecure-android/2.8.1

that is 2.8.2 now (minor)
- fixing the sha256 of that textsecure-android.aar in build.gradl

[2015-12-07 00:10] ThomasWaldmann commented on #57
Trying right now with android studio "Build signed APK":
"Build type": "websockets"
"Flavors": "prod"

But it still complains about missing google play services when it first starts and I try to register my phone number.

[2015-12-07 00:39] ThomasWaldmann commented on #57
One also has to be careful to copy the right apk to the device, the one with websocket support is named "TextSecure-prod-websockets.apk" (not: TextSecure-prod-release.apk)

[2015-12-07 00:39] ThomasWaldmann commented on #57
I coud register now. :) No nagging for google play services any more.

[2015-12-07 00:47] schachmat commented on #57
@ThomasWaldmann you are right about that missing parts in the instructions, could you update the wiki? If you did that and there are no other open questions, I think you can close the issue.

[2015-12-07 01:22] ThomasWaldmann commented on #57
OK, wiki page updated, please check it.

[2015-12-07 01:53] schachmat commented on #57
Looks good to me, thanks.

[2015-12-07 02:01] #57 closed, assigned to nobody

[2015-12-07 16:31] ThomasWaldmann commented on #54
Can confirm that with the self-compiled code from websocket-reborn branch, getting voice called (likely from normal signal) and voice calling (likely to normal signal) does not work. The first times out after a while, the latter says "Login failed" immediately.

+1 for documenting known-working and known-not-working stuff.

[2015-12-08 21:25] benediktg commented on #22
I cannot complain about battery drainage caused by the websockets-enabled build. Down below is a screenshot of an example battery usage statistic. The phone (Samsung Galaxy S5 with Cyanogenmod 12.1, no GApps) was running about 13 hours without charge at that time. Three entries in the list are missing: the display used 16 %, the Android system 8 % and the Android OS 4 %. According to the output of

[2015-12-09 00:54] h-2 commented on #50
From my humble point of view microG is a workaround, but this fork would be the fix. Ultimately a workaround is better than nothing, but if we manage to get something where google get no metadata that would be best.

[2015-12-09 08:16] JavaJens commented on #50
@h-2 I think so as well. Especially considering the effort required to get it running on a users device. So for users that just don't have Google Play because they have e.g. an Amazon device, I don't think this is feasible.
Like I stated above, if this "basic fallback" they are talking about in GmsLib would work, this could be a solution for that as well.

[2015-12-09 14:20] relyt29 commented on #50
According to my understanding, Gmslib is just a compileable library that provides the andriod.gms package for imports and whatnot. It's still going to make calls to google servers.

[2015-12-15 09:50] anoadragon453 commented on #54
Also getting an immediate "Login Failed" upon WebSocket --> GCM.

[2015-12-17 10:11] vanitasvitae commented on #22
Websocket Branche doesn't show up in my Battery Statistics AS well. It seems to consume very low battery. Nice :)

[2015-12-21 15:29] benediktg commented on #22
An observation I have made is that when I am on the go with mobile data enabled then LibreSignal (the websockets-enabled build) indeed shows up with a medium, but significant battery usage. Values like 5 or 7 % have occured.

In wifi networks the energy usage is still not noticeable in the statistics otherwise…

[2015-12-21 18:41] vanitasvitae opened #58 "Can read old messages despite no password was entered"
Hi

I searched for this bug upstream but couldn't find it there, so I post it here.
I switched from upstream Signal a few weeks ago (Version 3.7) and now I noticed a unwanted behaviour of the websockets fork that wasn't in upstream.

Sometimes when I get a new message and I double tap on the notification in my phones lockscreen and enter my phones pin, I end up directly in the conversation without

[2015-12-22 00:23] psivesely commented on #50
Looked into microG GmsCore. Seems like it sends at least your build ID and device name to Google.

Glad you're keeping up the fork! You're the best @JavaJens!

[2015-12-22 13:25] matlink opened #59 "Pull from upstream to get Signal for Chrome"
OpenWhisperSystems recently added Signal for chrome, and therefore allows to connect your phone with Signal with it. It does require to bind them with a QRCode, and the menu is not present in the current version on F-Droid. Is that possible to get that compatibility?

[2015-12-22 18:50] mjtorn opened #60 "Huge message delays"
Hi!

I recently downgraded/switched from Signal (off of Google Play) to the Jolla Edition, version 3.3.1, and noticed messages are sometimes delayed.

Since Moxie doesn't like different builds (open-source cat-herding _can_ be a pain) I'll ask here first: is there any kind of wake-up delay interval thingies for polling messages? Do the sockets get closed and not often reopened?

Anything that migh

[2015-12-23 09:08] JavaJens commented on #60
You can try to get a debug log.
There shouldn't be any artificial delay.
Iirc there might be an exponential backoff if there are connection problems.

[2015-12-23 09:11] JavaJens commented on #59
Should not be a problem of code, merely of time...
I'll maybe try in the next days if nobody else comes first. Maybe @schachmat @f41c0r?

[2015-12-23 10:05] mjtorn commented on #60
https://gist.github.com/anonymous/68e8573064d73ec6cafb

I was kind of hoping for more...

Should it log about websockets? Could it be made to? ;)

[2015-12-23 10:06] schachmat commented on #59
@matlink this should already work with the current v3.6.1. At least I can link the chromium extension with this version. Nevertheless, here you go: #61

[2015-12-23 12:52] JavaJens commented on #60
There is no log in there :wink:

I don't know if there is sth. special about Jolla. Maybe try adb?

[2015-12-23 13:06] mjtorn commented on #60
What's adb?

Yeah, unfortunately I don't have any contact to whomever built the Jolla Edition, but afaik it's 3.3.1 from this fork with no changes.

[2015-12-23 17:34] matlink commented on #59
Well, I'm bad at compiling that kind of app, that's why I asked :)
But if it is a problem of time, nevermind, I'll wait, that was just to test the chromium beta Signal. Thanks.

[2015-12-23 17:34] #59 closed, assigned to nobody

[2015-12-24 03:06] relyt29 commented on #60
I can confirm that occasionally I also get long delays between messages. I think it has something to do with the screen being off, as it only happens when the app is in the background. Also on version 3.3.1 - I need to update and see if that fixes it, it may just be a bug in 3.3.1 that got fixed in a later commit

[2015-12-24 03:07] relyt29 commented on #58
Yes this happens to me as well, I thought it was a function of Replicant and not signal - do you have gplay installed? What ROM, OS version are you using?

[2015-12-24 07:23] JavaJens commented on #60
adb http://developer.android.com/tools/help/adb.html

The most likely assumption that I can make is that some power savings mode kicks in. Could that be the case?

[2015-12-24 11:34] vanitasvitae commented on #58
Im using copperheadOS based on AOSP. My phone (nexus 5) is fully gapps-free :)

[2015-12-24 11:41] mjtorn commented on #60
Oh man.. That ADB thing looks like quite the hurdle, I'll have to see about whether or not that's worth it, really, when simple "lost the socket" and "could not reconnect, backing off for $t seconds" debug logging could cut it.

Very little sample data on this, but the messages worked pretty fast over wifi, so maybe something like the exponential backoff theory could be true.

Besides that, maybe

[2015-12-24 16:56] JavaJens commented on #60
Usually the log from the menu should suffice, maybe just try again?

[2015-12-25 12:38] mjtorn commented on #60
Sorry @JavaJens but I have to ask you to explain this to me like I'm five ;) The gist above is the debug log, so you probably don't mean that, right?

If you mean a log from a menu in ADB, I'll need to have ADB running first, which is probably a huge hassle. This especially as Jolla's OS, SailfishOS, is a Linux with Alien Dalvik for Android support, so who knows how it'll work out.

[2015-12-25 12:43] mjtorn commented on #60
FWIW I found some online presence for the guy buildling this for us, so I pinged him in the only way I could find.

[2015-12-25 13:34] ton-io commented on #60
@mjtorn iam using 3.8.1 from this repository on my blackberry and i dont have any delays. Have you tried compiling the latest version from javajens?

[2015-12-25 13:38] ton-io commented on #58
happens to me as well on 3.3.1, 3.6.1 and 3.8.1. all used on a Blackberry with BB10 OS. since there is no google play services support on BB10 iam using this websocket version

[2015-12-25 14:05] mjtorn commented on #60
@ton-io that's good news! Blackberry is not Jolla, of course, but that gives me hope.

I have not tried compiling it, because I have no idea about how to make it look like @llelectronics build of it, and I don't want to confuse my phone by installing different versions.

It's idealistic to expect things like this to Just Work but there is a pain threshold in going in deep for debugging, so I'd rat

[2015-12-25 16:36] relyt29 commented on #58
If anybody with gApps on their device has this problem please chime in here, otherwise I am assuming that this has to do with lack of gApps.

[2015-12-25 22:03] JavaJens commented on #60
@mjtorn yes, I mean the gist. Usually this contains all debug information you get through adb without the hassle. If this doesn't work, I fear adb is the only way.

[2015-12-26 11:53] mjtorn commented on #60
Well, there's nothing there in the debug log. Like if I try to access my contacts, I don't see any (not sure if this warrants a new issue, as this happened with upstream Signal as well and obviously Jolla/Sailfish is completely unsupported) there's nothing about "no contacts found" in the debug log either.

Let's keep this issue open and see if this works at all and then I may consider adb.

(I re

[2015-12-26 11:57] llelectronics commented on #60
For contacts did you check if it is allowed for android apps to have access to contacts? If it isn't that would explain this issue.

[2015-12-26 13:00] mimi89999 commented on #60
For contacts: Probably related https://github.com/WhisperSystems/Signal-Android/issues/4943

[2015-12-26 14:13] mjtorn commented on #60
@llelectronics it's not that. It's on by default and if I turn it off, Signal crashes without any greater ceremony or grace.

https://gist.github.com/anonymous/ae6fc99138a7818acf6b

Not sure at all what's happening with `android.media.AudioAttributes$Builder` but yeah. It's not about the contacts access.

[2015-12-26 14:14] mjtorn commented on #60
Maybe it could be related to upstream issues, but I did see the contacts list for a while with this Jolla Edition / JavaJens build, and then it vanished and never returned.

[2015-12-26 14:19] mimi89999 commented on #60
@JavaJens There will be huge message delays in android 6. Please look at: https://developer.android.com/training/monitoring-device-state/doze-standby.html
:-(

[2015-12-26 17:26] mjtorn commented on #60
Hmh, but with wifi, things seem to work, so despite how the missus might have configured or updated, I still like to think there's something screwy with mobile internet and websockets...

We'll be looking into her Android version and that URL I'm sure, thanks!

[2015-12-26 17:34] mjtorn commented on #60
So, stupid question, @mimi89999 but isn't a messager exactly the kind of thing whose core is adversely affected? Therefore these apps should be exempt, yes?

I just heard she's sometimes wondered why she hasn't received Whatsapp messages either, and after digging her phone from her purse, she gets a burst of messages.

But even that does not explain why sending me messages (while I'm on mobile int

[2015-12-26 20:06] mimi89999 commented on #60
@mjtorn
![capture du 2015-12-26 21-06-02](https://cloud.githubusercontent.com/assets/8530546/12007783/892f1b02-ac14-11e5-921e-419511824a98.png)

[2015-12-26 20:11] mimi89999 commented on #60
@mjtorn
"Note: Google Play policies prohibit apps from requesting direct exemption from Power Management features in Android 6.0+ (Doze and App Standby) unless the core function of the app is adversely affected."
"Google Play policies" only apply to apps published in the Play Store...

[2015-12-26 21:01] JavaJens commented on #60
@mjtorn there is heavy logging in the app, but I'm afraid this is a limitation of Jolla.

[2015-12-27 09:02] mjtorn commented on #60
@mimi89999 Yeah, saw that note as well, but didn't _read_ through it well enough to worry about whether or not IM apps are prohibited or allowed.

@JavaJens thanks for the info, at least that's something I can bring up somewhere, maybe, to ask why there's nothing sticking to the debug log.

[2015-12-27 09:14] mjtorn commented on #60
I snuck the debug log off of her normal Signal installation and it's all a lot more verbose

https://gist.github.com/anonymous/625d7ed1bd9a14aa273f

Interesting that the mainstream client would use websockets? Am I interpreting something wrong here?

[2015-12-27 11:38] mimi89999 commented on #60
@mjtorn If it was using WebSockets, then there would be wss:// somewhere in the log...

Edit:
Sorry, there is "wss://" in line 296.
I was writing non-sense :-(

[2015-12-27 11:43] mimi89999 commented on #60
@mjtorn I found a WebSocket echo test: https://www.websocket.org/echo.html

[2015-12-27 12:01] JavaJens commented on #60
@mjtorn The regular client uses websockets while the app is open. This is used to prevent the delay introduced by GCM. But as battery usage increases with websockets, the socket is closed when the app is in the background.

In her log you see a timeout exception reaching the server, maybe similar things are happening to you?

[2015-12-27 17:46] relyt29 commented on #50
About a month ago, I looked into this a fair amount. As has been mentioned here by several people, there are privacy implications (if you don't trust google) of using GMSCore. I worked on gmslib integration with TextSecure as well, you can find the work for that on my repo under the "gmslib" branch:
https://github.com/f41c0r/TextSecure/tree/gmslib

In order to get this to work I had to compile and

[2015-12-27 17:46] #50 closed, assigned to nobody

[2015-12-28 09:42] mjtorn commented on #60
@mimi89999 Testing that with the browser over 3G works.

@JavaJens The timestamps in her log are mainly early morning, so probably the app was in the background at the time. Well, I need to figure out how to enable logging here so I can check if I have `wss://` somewhere in the log that I just can't see.

But that cleared why there were mentions of websockets, at least :)

PS.
Sent a message to he

[2016-01-04 02:23] otr2015 opened #66 "No notification on receiving message"
Hi,

when I send a message from Signal with websocket support to another user who has Signal with GCM installed, the other user doesn't get a notification that he received a message. The second user always has to open his version of Signal to check if there are new messages. When a message is sent from Signal with GCM to Signal with websocket support it is no problem at all.
Does anyone know why t

[2016-01-04 11:41] sarevok-anchev commented on #54
Still an issue with 3.8.1-websocket for me (and I presume, everyone else).

Anyone working on getting this fixed?

When calling --> "LOGIN FAILED!" almost immediately.
Others calling --> says my number is not registered for secure voice.

[2016-01-04 16:46] mimi89999 commented on #54
@sarevok-anchev First somebody has to convince moxie0 to open-source the RedPhone server...

[2016-01-05 13:18] Diapolo commented on #66
Are both installations using the same version? Could also be some notification bug which was fixed recently.

[2016-01-05 13:40] sarevok-anchev commented on #54
@mimi89999: Could you clarify? RedPhone/Signal are open source, couldn't whatever magic they're doing be replicated in LibreSignal?

What exactly is failing here?

And how to best move forward?

[2016-01-05 15:51] otr2015 commented on #66
Yes, both contacts are using the latest version 3.8.1 .

[2016-01-05 19:20] mimi89999 commented on #54
They use GCM (Google Cloud Messaging).
If you don't have gapps installed on your phone, you can't use GCM...
(and probably you don't want to install gapps :-) )

Look at: https://github.com/JavaJens/TextSecure/issues/54#issuecomment-160419089

[2016-01-06 10:41] sarevok-anchev commented on #54
I see. Indeed, I don't want to install gapps :)

So, essentially, we'd need to get moxie0 onboard with the effort in order to have working calls from/to LibreSignal?

[2016-01-07 12:21] Diapolo opened #67 "Create a more verifiable or transparent process for websocket releases?"
I'd love to see a more verifiable and more transparent process to keep this repo up-to-date with master and also would love to better understand if other patches appart from websocket support get merged and so on.

So perhaps we could start discussing in this issue to get ahead with the above. You all could add further suggestions, outline problems and all that. I'd like to help this fork, as long

[2016-01-07 13:38] Diapolo commented on #67
I verified current master with upstream master and wasn't able to find strange code in it (remember I'm not a Java dev at all ^^). If I found something I didn't understand I commented in the source or in older pulls, so perhaps some of you guys get some mails from GitHub ;).

[2016-01-08 12:09] SecUpwN opened #70 "Crash when wanting to read message on Android 6"
Good evening @JavaJens, I am on Android 6 and when wanting to read a message, `LibreSignal` crashes. Would you please have a look at [this logfile](https://defuse.ca/b/QYRKpv9q) and maybe improve `LibreSignal`soon so that others can use it on Android 6 as well? Or maybe @f41c0r and @xmikos are able to check this, please?

---
- **Update:** This Issue was obviously caused by my @AICP ROM. The [curr

[2016-01-08 14:25] relyt29 opened #71 "Making Better Decisions"
We need to make a decision about who is in control of this repo and the direction of this project as a whole (is JavaJens a Linus-style benevolent dictator? Are we a quasi democratic orgo like Debian?), and then we also need to make a hard decision on this, because there are issues that are collecting dust while we waffle on these decisions. Additionally, I am of the opinion we should have a maili

[2016-01-08 14:33] relyt29 opened #72 "Our relationship with LibreSignal"
After #71 is solved, we need to come to the following decisions moving forward:

A) Do we acknowledge this repo as the source for LibreSignal, or do we tell @xmikos to create his own repo, and stop sending people with issues our way? If we acknowledge this repo as the source for LibreSignal, what level of support do we provide to people posting issues?

B) Do we start incorporating new feature req

[2016-01-08 14:44] SecUpwN commented on #72
@f41c0r, should this happen, I'd like to see my already closed Issue #51 revisited. Furthermore, in conjunction with #32, I am sure many people would love to see `LibreSignal` be officially distributed on [F-Droid](https://f-droid.org/) without having to add yet another separate experimental repo. This also enlarges the user base.

[2016-01-08 15:40] xmikos commented on #72
Just my two cents...

A) this repo _is_ for now the source for LibreSignal. I have not added any feature by myself to that build yet, only presented pull request with them.

B) More features will be definitely needed in the future, for example requesting REQUEST_IGNORE_BATTERY_OPTIMIZATIONS in AndroidManifest.xml and adding code like this to app:

[code]

Without it, WebSocket fork will be unusabl

[2016-01-08 15:40] #70 closed, assigned to nobody

[2016-01-08 15:44] SecUpwN commented on #72
I wish `LibreSignal` would stand up against the creepy Google dictatorship just like [we do](https://github.com/SecUpwN/Android-IMSI-Catcher-Detector/wiki/FAQ#q-why-wont-you-upload-your-app-to-the-google-play-store).

[2016-01-08 15:46] Diapolo commented on #72
@xmikos I already thought about a little. What if you get push access to this repo, AFAIK this is possible, so @JavaJens could broaden development support of this fork. Also we could maintain a branch that would be easy to merge upstream for just WebSocket support etc.?

[2016-01-08 15:55] xmikos commented on #72
I have already thought about creating independent LibreSignal repository on GitHub. Mainly because I want to implement back ZRTP key continuity check (see [Issue #44 - ZRTP key continuity check removed from Signal/RedPhone](https://github.com/JavaJens/TextSecure/issues/44)). But RedPhone part of Signal is not working in WebSocket fork anyway (because it needs GCM), so I somehow postponed it.

To b

[2016-01-08 16:02] Diapolo commented on #72
My vote:
- I'd love to see this repo as starting point for official LibreSignal, so rename this repo to LibreSignal :)
- @xmikos Gets push access so he can merge pulls (of course after a discussion and a vote from @JavaJens  or in purely experimental branches)
- work out how to handle the cases with RedPhone part (e.g. by allowing it to use GCM if available while the TextSecure part could use WebS

[2016-01-08 16:03] Diapolo commented on #71
Let's discuss in https://github.com/JavaJens/TextSecure/issues/72 and close this.

[2016-01-08 16:03] Diapolo commented on #67
Closing in favor of https://github.com/JavaJens/TextSecure/issues/72.

[2016-01-08 16:03] #67 closed, assigned to nobody

[2016-01-08 16:09] SecUpwN commented on #72
To avoid conflicts with pull requests not having been reviewed by the right people, add [PullApprove](https://pullapprove.com/)!

[2016-01-08 16:10] schachmat commented on #72
My vote:

A) @xmikos creates a separate fork for LibreSignal.
B) We do not accept PRs diverging from upstream here.

My argument:
This is the fork of @JavaJens and we should not impose democratic ownership decisions on someone elses "stuff". If JavaJens agrees and wants to do it, fine, but it should not be enforced by someone else. As far as I know JavaJens is not even actively using this codebase

[2016-01-08 16:18] xmikos commented on #72
Well, I would actually prefer if LibreSignal repository would be completely independ (and not limiting new features). JavaJens repository can stay as upstream with basic WebSocket support. My secret dream is even merging back SMS encryption from [SMSSecure](https://github.com/SMSSecure/SMSSecure), but this is not too realistic ;-)

What I am afraid of is like I said that I will not have enough tim

[2016-01-08 16:18] SecUpwN commented on #72
I think I'm wet down below like right now! :droplet:

Maybe some guys from @SMSSecure are willing to help here?

[2016-01-08 18:12] mimi89999 commented on #72
I think the best thing to do would be to fork this repo and do everything to get LibreSignal added to F-Droid (for example remove non-free dependencies (if any)).

What I'm afraid of is that one day moxie will ban LibreSignal from TextSecure servers.

[2016-01-08 19:29] patcon commented on #72
:-1: from me on LibreSignal becoming more than a websockets fork

Not actively using LibreSignal, but quite possible we'll pick it up for [MIA](https://github.com/mission-impossible-android/mission-impossible-android) down the road. I'd be interested in keeping the diff minimal, and having a trusted member of the community sign a deterministically building APK. I'm sincerely hoping it doesn't beco

[2016-01-08 20:56] h-2 commented on #72
My opinion as someone who has not contributed code, yet, but followed closely (and could possibly do some advocacy):

**First** keep the diff minimal, approach OWS politely about Redphone-server component source and possible websocket support. If that works out somehow, prepare minimal patch and politely try to upstream. After that -- possibly -- do a fork that is only a rebrand and submit that to

[2016-01-08 22:56] aphirst commented on #54
I can confirm that the normal (not -websockets) builds of LibreSignal work with calls if you use microG on your (rooted, and if it isn't OmniROM or built yourself with relevant signature-spoofing patches, with an xposed module) GApps-free Android device. @mimi89999

[2016-01-08 23:29] ThomasWaldmann commented on #54
@aphirst any docs about the whole procedure?

[2016-01-09 00:11] aphirst commented on #54
@ThomasWaldmann Install instructions for microG [here](http://forum.xda-developers.com/android/apps-games/app-microg-gmscore-floss-play-services-t3217616) - it's all also on github and FOSS in case you're worried about it being some dodgy XDA homebrew. It mentions either the patch to apply to an Android source tree or the Xposed module to install.

[2016-01-09 00:13] aphirst commented on #54
The only other real longterm option would be to have (Libre?)Signal use something akin to [onepf](http://onepf.org/) instead of committing to a specific Cloud service. But I think that needs a lot more momentum still. Wrestling control out of Google's hands should be a high priority, especially when the "workarounds" either involve installing proprietary software, or making invasive modifications

[2016-01-09 00:31] rodneyrod commented on #54
If Libresignal is primarily developed to support GAPPless ROMs through websockets, and Signal calls depend on GCM and proprietary serverside software, then shouldn't the call icon and functionality be stripped from the program?

[2016-01-09 11:01] mimi89999 commented on #54
@rodneyrod

Please look at #72

[2016-01-10 11:08] Diapolo commented on #72
I never wanted to override @JavaJens in any way, he's the one that needs to kick of anything new that's happening in HIS repo, of course :).

I just hope to see a better maintained (e.g. the Android 6 stuff @xmikos mentioned), more transparent, WebSocket release of LibreSignal with all that's needed to get it working smoothly without GCM.

[2016-01-11 14:23] relyt29 commented on #71
This is an important issue, one that @JavaJens needs to address. Up until now, this was his repo and he made whatever decisions he wanted. I think at this point the project has grown to the size where he needs to make a decision about whether he wants it to continue this way or not. #72 cannot be properly addressed until we know whether we're struggling for @JavaJens's opinion, a majority vote, or

[2016-01-11 17:20] pizzamaker opened #73 "LibreSignal asks for Google Play Services"
I have tried both the experimental and the stable releases by @xmikos and both ask for Play Services after I type in my phone number. What gives?

[2016-01-11 18:08] Diapolo commented on #73
Only the experimental release uses WebSockets for sending text etc., so you wont be able to use the calling functionality (RedPhone) AFAIK.

What do you mean by "type my phone number"?

[2016-01-11 18:20] patcon commented on #73
They're referring to registration

[2016-01-11 19:17] pizzamaker commented on #73
Correct, registration. I can't use the app at all, as it mandates (and even gives a link to download) play services.

[2016-01-12 13:52] relyt29 commented on #73
That's probably because xmikos hosts both upstream (requires gplay) and the websockets version on his f-droid repository.

A) go through some of the closed issues on here, he has responses on how to deal with it

B) Actually build this repo from scratch and sideload the apk. Then if it keeps happening, get a debug log and maybe we can help more.

[2016-01-12 13:53] pizzamaker commented on #73
Nevermind. The problem was that I had both eutopia and Guardian Project's repos enabled. I suppose I was actually downloading Signal instead of LibreSignal.

[2016-01-12 13:53] #73 closed, assigned to nobody

[2016-01-12 15:35] otr2015 commented on #66
I found the solution for this problem.
In the phone with Signal and GCM installed it was only allowed in the phone's settings to receive notifications but not to show them as notifications.
Whispersystems also knows about this problem: http://support.whispersystems.org/hc/en-us/articles/213190487-Why-is-there-a-delay-in-receiving-messages-
Now the notifications are shown on both phones.

[2016-01-12 15:35] #66 closed, assigned to nobody

[2016-01-12 15:54] JavaJens commented on #71
Sorry, I have been absent.
I don't want to make all decisions and I think the best way to make decisions is if a group collective argues about it and consensus decides.

However, I don't think this repo is actually the right place for that.
In lines with #72 I'd vote for creating an Organization that can be used with several members who have executive rights.

[2016-01-12 15:59] JavaJens commented on #72
Sorry, I have been absent.
I don't want to be the guy that blocks everything because I can't be too involved atm.
I'd suggest to create an organization (on Github) that can track various changes and allows more people to make decisions.
There reasoning is that I see this fork merely as a fork, designed for one specific purpose. Obviously  it has grown and people want to see various other things ha

[2016-01-12 16:17] mimi89999 commented on #72
@JavaJens Do you think that moxie0 could, one day, ban LibreSignal from TextSecure servers?

[2016-01-12 16:24] JavaJens commented on #72
Of course OWS could, if they wanted to :smile:
Right now we send an identifier, stating that a device is from this fork. If OWS would block this user agent, we could simply remove that. This in turn could start a cat and mouse game.
But of course I have no way to assess the risk of that happening.

[2016-01-12 16:32] mimi89999 commented on #72
I know, that they have the technical possibility of doing that... My question was more about what is the possibility of this move from OWA, and also about what we could do in such a case.

[2016-01-12 16:46] xmikos commented on #72
In worst case scenario we can make sure that requests from WebSocket fork closely mimic requests from Signal Desktop app for Chrome (which also uses WebSocket). This way OWS wouldn't be able to tell if you are using WebSocket fork of Signal for Android or their own Signal Desktop app.

[2016-01-12 16:49] mimi89999 commented on #72
They could start legal threats...

[2016-01-12 17:00] xmikos commented on #72
That won't work, 1.) not everyone is from US juristidiction, 2.) they would completely alienate whole opensource world and make everyone suspicious about their motives, 3.) there were always third-party clients for various IM networks and not even "evil" companies like AOL sued anyone (the only case of cease & desist letters I know about is from WhatsApp and developers largely ignored them). This

[2016-01-12 23:08] ClubWDW opened #74 "MMS Nonfunctional - Websocket version."
I have a Nexus 6 on CM 13...MMS does not work with websocket version.

[2016-01-13 14:25] TheZ3ro commented on #72
(I have silently followed the project)
IMHO People need a Websocket-only version of Signal (ex Text-Secure) but OWS can't support these people (that maybe are using it from Jolla, from BlackBerry, from Replicant and so on...).
It's not a F-Droid problem.
People want to communicate securely and cross-platform, and GCM is a big Berlin-like wall.

I think we must create an Organization to work on thi

[2016-01-13 15:32] mimi89999 commented on #72
I think creating an organization is a good idea.

[2016-01-13 17:04] SecUpwN commented on #72
@SMSSecure with their [repo](https://github.com/SMSSecure/SMSSecure) is the best example how to do it.

[2016-01-16 16:40] mimi89999 commented on #74
Edit:
Actualy MMS doesn't work for me neither. Sorry for the mistake...

Old:
I'm on CM-13 without gapps and MMS work fine for me.

[2016-01-16 17:22] mimi89999 commented on #74
@ClubWDW Is it related to: https://github.com/WhisperSystems/Signal-Android/issues/5055 ?

[2016-01-16 18:53] JavaJens commented on #74
I have neither cm13 nor do I use mms. Maybe you can submit a debug log?

[2016-01-17 14:52] mimi89999 commented on #72
@xmikos Would you create an organization on GitHub?

[2016-01-20 19:40] philippseith commented on #22
Just my 2cts from a Blackberry Z30:
![img_20160120_185537](https://cloud.githubusercontent.com/assets/6890503/12460594/c237073a-bfb4-11e5-980b-a865ea29346a.png)

I didn't use the app most of the time. You can see the moments of usage by the spikes in "CPU-Auslastung"
The overall usage was 0,4% of total drain. The native WhatsApp drained 0,2% (and was used in a similiar way)
Not bad.
My only doubt:

[2016-02-04 09:22] mimi89999 opened #75 "Update to v3.10.0"

[2016-02-04 10:17] ton-io commented on #72
i suggest to stay as upstream with basic WebSocket support.
for several reasons. But most important, security bug are most likely discovered sooner and easier to fix when you stay as upstream with basic WebSocket support

[2016-02-04 10:36] schachmat commented on #75
I got the following merge conflict, which I don't know how to resolve correctly. Maybe someone with more Android experience can help me out?

[code]

[2016-02-04 10:43] JavaJens commented on #75
I'd resolve it to the ${applicationId}. This makes it easier to install two versions in parallel

[2016-02-04 11:02] mimi89999 commented on #75
I'd also resolve it to the ${applicationId} and commit the android:exported="false"

[2016-02-04 11:39] schachmat commented on #75
Thanks, here you go: #76

[2016-02-04 11:47] mimi89999 commented on #75
"${applicationId}.provider.securesms" I would keep "${applicationId}.provider".

[2016-02-04 11:59] JavaJens commented on #75
@mimi89999 I wouldn't.
Because in https://github.com/WhisperSystems/Signal-Android/blob/d543c0b36e477a8d7be555de48399aa02a397803/src/org/thoughtcrime/securesms/providers/MmsBodyProvider.java#L36 this is specified as such.

But reading over it again, we may run into an issue here, as afaik `$applicationId` is resolved to `org.thoughtcrime.securesms`, but the content uri for the provider now is `org

[2016-02-04 12:29] mimi89999 commented on #75
But AFAIK only values in AndroidManifest.xml are replaced...

[2016-02-04 12:39] mimi89999 commented on #75
I see 3 options:
1. Stop using ${applicationId}
2. Resolve ${applicationId} to "org.thoughtcrime" and use ${applicationId} in all files (not only in manifest)
3. Resolve ${applicationId} to "org.thoughtcrime.securesms" (current) and use ${applicationId} in all files.

In option 3 "securesms" is before "provider".

[2016-02-04 12:44] JavaJens commented on #75
I think I'd actually go for 1.
This would reduce the diff to upstream and I don't think anyone runs two instances in parallel anyway right?

[2016-02-04 13:03] mimi89999 commented on #75
I'm not running two instances in parallel.

[2016-02-04 13:53] ton-io commented on #75
me neither

[2016-02-04 14:59] mimi89999 commented on #22
![tmp_4008-screenshot_20160204-155454790392874](https://cloud.githubusercontent.com/assets/8530546/12818559/ad85230e-cb57-11e5-888e-dea22e07991a.png)

Websocket on Wi-Fi
ROM: cm13 without Gapps
Phone: Samsung Galaxy S4 mini LTE  GT-I9195

[2016-02-05 11:57] mimi89999 commented on #75
#77

[2016-02-05 12:31] #75 closed, assigned to nobody

[2016-02-05 13:02] mimi89999 commented on #75
@xmikos Could you please update LibreSignal in your repo?

[2016-02-05 15:11] ton-io opened #79 "3.10.0"
just compiled 3.10.0 and its installed next to 3.9.1.
and i need to signup again to signal.

[2016-02-05 15:18] JavaJens commented on #79
Yes, this is due to a change in the applicationId.
This way the diff to upstream is smaller again and no other changes to the media providers had to be made.

[2016-02-05 15:18] #79 closed, assigned to nobody

[2016-02-06 10:54] schachmat commented on #79
@ton-io you can revert the removal of the `applicationIdSuffix ".dev"` line from `build.gradle`, rebuild and then it should work again replacing your old v3.9.1.

[2016-02-06 13:43] ton-io commented on #79
isnt it better to leave the line in there? or do we probably run into problems in the future?
now people have to register again and create new keys, contact will receive messages about identities now being verified and need to be readd to groups.
for me it wont matter much anymore. i just registered again...
but if you guys decide to place it back again, i have the same problem. think about it fur

[2016-02-07 11:42] JavaJens commented on #79
I think its better to remove. First, there was an issue with the MediaProviders, thus we removed it.
Secondly, I don't think this should be such a big deal anyways, as the change is only in affect for people running a dev or websocket build and I think those should only be used by people, well, developing on it.
I don't know what flavor @xmikos distributes, so maybe this is a larger issue than we

[2016-02-09 07:08] ton-io commented on #58
@vanitasvitae are you still having troubles locking signal? Since 3.10.0 it seems to be solved, at least mine is now locked after the time-out and manual locking the app.

[2016-02-09 08:54] vanitasvitae commented on #58
I'll check it soon. I recently build the new version and installed it, but than I had two apps with different app ids on my phone (one app had the suffix .dev). Is there a way to keep groups and secret keys while switching app id? My phone is rooted.

[2016-02-10 12:45] vanitasvitae commented on #58
I think this is fixed now.

[2016-02-10 12:45] #58 closed, assigned to nobody

[2016-02-12 14:00] fauno commented on #72
i just want to say i'm happy to see where this is going :)

i haven't been able to recommend textsecure/signal because of gplay and gcm requirements, but now you're solving it! keep going please!

[2016-02-13 12:39] otr2015 opened #80 "New Push service"
Hi,

check out this article about a new push service.
http://www.xda-developers.com/fastboot-mobile-announce-the-future-of-push-services/

Sorry, I didn't know where to post it.

Greetings.

[2016-02-14 11:31] vanitasvitae opened #81 "Happy I-Love-Free-Software-Day!"
Hey guys!
I want to say thank you for creating and maintaining this great fork. It enables me to use Signal without proprietary GCM. Thank you so much for making this possible to me and the community! Your work is important to a free society! Thank you so much <3

[2016-02-14 15:59] #81 closed, assigned to nobody

[2016-02-14 23:17] ivilata commented on #60
I'm having the same problems with version 3.9.1. I have no idea on how websockets work in Signal but, could it be that the _server_ code has bad backoff behaviour in the case of websockets?

I'll take more careful observation on when the problem happens.

[2016-02-15 09:44] JavaJens commented on #60
@ivilata Could you try to create a debug log?
The most probable cause of message delays is the system shutting down connections after the a while (Power-save features)
If you open the app and the message doesn't arrive immediately, then there is some other issue

[2016-02-15 09:45] JavaJens commented on #80
I think this would probably be better suited on the main dev list.

[2016-02-15 09:45] #80 closed, assigned to nobody

[2016-02-15 09:46] JavaJens commented on #72
@xmikos How do you feel about this?

[2016-02-15 09:46] JavaJens commented on #74
If this still is an issue, please re-open and post a debug log.

[2016-02-15 09:46] #74 closed, assigned to nobody

[2016-02-16 11:24] ivilata commented on #60
@JavaJens, the log under _Settings / Advanced / Submit debug log_ doesn't contain lines under `/dev/log/main`. `:(`

In the last two occasions that I've received delayed group messages, they have arrived exactly 3 hours after the last one has been sent.  I can assure that in the first case, the phone was already in Wi-Fi before the messages were sent, and it remained in Wi-Fi at the same place unt

[2016-02-21 22:09] SecUpwN commented on #72
@xmikos and @JavaJens, is https://gitlab.com/fdroid/fdroiddata/merge_requests/1223 official?

[2016-02-22 07:12] JavaJens commented on #72
I know nothing about this.

[2016-02-22 07:37] mimi89999 commented on #72
I made this PR. I didn't ask here before making it because the build is disabled, so eaven if it gets merged, the app won't be on F-Droid...

[2016-02-22 07:51] mimi89999 commented on #72
@JavaJens if you want, I can close this PR.

[2016-02-22 08:23] JavaJens commented on #72
You don't have to ask for permission. I didn't mean to imply any judgment.
Feel free to do whatever you want (as long as you stick to the upstream rules :wink:), I don't mind.

[2016-02-22 09:57] SecUpwN commented on #72
@mimi89999, thanks for having made the PR on GitLab. Will you maintain this on a regular basis now? And does that mean that we can throw out the "experimental repo" when `LibreSignal` finally appears? :)

[2016-02-22 12:11] mimi89999 commented on #72
IF F-Droid accepts...

[2016-02-22 22:06] mimi89999 commented on #72
I made a new PR: https://gitlab.com/fdroid/fdroiddata/merge_requests/1229

[2016-02-23 08:41] ddast commented on #72
Maybe I am missing something, but I thought this version still requires the proprietary play services for building.  The build.gradle contains

[code]

Isn't that a dealbreaker for fdroid?

[2016-02-23 08:47] mimi89999 commented on #72
@ddast I will add the AntiFeature flag... If I remove all play dependencies the build fails.

[2016-02-23 08:48] mimi89999 commented on #72
Also: https://github.com/JavaJens/TextSecure/issues/72#issuecomment-170077997

[2016-02-23 09:39] mimi89999 commented on #72
The lines 104 and 105 in AndroidManifest are causing the problem.

Edit:
It doesn't mean that removing them will fix the build...

[2016-02-23 12:51] SecUpwN commented on #72
What this repository lacks is a clear statement from @JavaJens and @xmikos of what should happen with it. Right now, opinions of users are drifting heavily apart between pro and contra renaming it to `LibreSignal` and making it become more than just a WebSocket supported fork. We need a clear outline and some soothing words from the official maintainers so that the userbase won't be split and yet

[2016-02-23 12:58] fauno commented on #72
what kind of resources are required to run a signal server for the
community? do we need the sms registration process?

##

:D

[2016-02-23 13:04] SecUpwN commented on #72
@fauno, see [How can I host my own server](http://support.whispersystems.org/hc/en-us/articles/214684227-How-can-I-host-my-own-server-), which redirects to [this unofficial Google group](https://groups.google.com/forum/#!forum/whispersystems-community-unofficial). Stunning. :(

[2016-02-23 13:04] schachmat commented on #72
@SecUpwN: I wrote a [comment](https://www.kuketz-blog.de/android-signal-ohne-google-cloud-messaging/#comment-46439) with some questions on the imho one-sided blog post which never got answered by the author. For reasons to "stick" to GCM see https://github.com/JavaJens/TextSecure/issues/22#issuecomment-136520499.

[2016-02-23 13:12] fauno commented on #72
"Security: PWNED" notifications@github.com writes:

how hard would it be to write a signal server then :P

##

http://lainventoria.com.ar/

[2016-02-23 13:15] SecUpwN commented on #72
We should wait how this discussion turns out, then open a fresh Issue for moving to our own server.

[2016-02-23 13:17] fauno commented on #72
"Security: PWNED" notifications@github.com writes:

of course, i can collaborate on setting it up too :)

##

http://lainventoria.com.ar/

[2016-02-23 13:57] ton-io commented on #72
maybe iam wrong but isnt GCM like apple's push notifications? its just being used to let the users device connect to a specific servers. there is actualy no data being transfered to google other then checkin to that specific server, in this case the signal to the whisper systems server.... My understanding is that google only knows your connecting to a specific server and will never see what data

[2016-02-23 14:28] fauno commented on #72
ton-io notifications@github.com writes:

i don't know what it does, since it requires to install a 100mb (iirc)
apk on my phone that demands access to everything :P

##

[2016-02-23 16:32] mimi89999 commented on #72
@ddast The problem is that if I _sed -i '/com.google.android.gms:play-services/d' build.gradle_, the build fails :disappointed:

[2016-02-24 06:52] JavaJens commented on #72
Like I said above, I think this repository should remain a simple fork.
Also, I think that any maintenance of more features, like a complete Google Free version, should be managed by some organization.
Whoever feels like it can and probably should create this organization.
Also I think I am not the right person to make any decisions here. I don't use this version here and I can't get too involved

[2016-02-24 10:18] mimi89999 commented on #72
@SecUpwN

LibreSignal organization could clone Signal-Android, PR from this repo and remove GMS.

[2016-02-24 14:14] mimi89999 commented on #72
I reverted location in my repo: https://github.com/mimi89999/Signal-Android
Now I only need to remove GCM. :-)

[2016-02-24 16:49] mimi89999 commented on #72
Can I create the "LibreSignal" organization?

[2016-02-25 00:04] otr2015 opened #86 "Update F-Droid repository"
@xmikos Could you please update the F-Droid repository with the last update on Signal?
Thanks.

[2016-02-25 02:51] dotlambda commented on #72
I think pulling from this repo is not as good as transferring the ownership (issues are lost, no HTTP redirection).
So it would be nice if @JavaJens transferred this repo to the "LibreSignal" organization as soon as created.

[2016-02-25 07:02] JavaJens commented on #72
@mimi89999 Go ahead :smile:
I think a direct clone might be even better? Searchable etc. But we can see.

[2016-02-25 08:14] mimi89999 commented on #72
I need help with removing location: the build fails an I can't figure out why.

[2016-02-25 08:29] JavaJens commented on #72
@mimi89999 Best would be to open another issue. I try to look into your repo, to see what you did.

For one,  I wouldn't revert the complete commit. Just the parts relevant to location

[2016-02-25 08:41] mimi89999 commented on #72
I reverted the commit, but in my last commit I re-added the changes.

[2016-02-25 16:46] SecUpwN commented on #72
How come, @JavaJens? There already exist several great blog-posts about `LibreSignal` (especially on the largest German security blog with the article [Android: Signal ohne Google Cloud Messaging](https://www.kuketz-blog.de/android-signal-ohne-google-cloud-messaging/)). I don't see what would be your or anyone elses problem when elevating this repository to what it deserves.

Wonderful to see your

[2016-02-25 20:18] patcon commented on #72
@SecUpwN this repo is a fork, and will be penalized in github search(perhaps in google rankings as well). A "direct clone" would fix that. Continuing to use this repo for a full project would not. I believe that's what @JavaJens was getting at.

I'd suggest creating a new repo in that new org where work could continue. Perhaps @JavaJens could transfer this old repo as well (for posterity), but tha

[2016-02-25 20:22] mimi89999 commented on #72
I think keeping the fork relationship with upstream will make it easier to PR from upstream to update...

[2016-02-25 20:30] JavaJens commented on #72
@mimi89999 Feel free to create this organization. I feel I wouldn't be a suitable creator as I don't have the time right now.
I just think that a fresh start is better and it shouldn't matter for updating, just add upstream as a remote.
I can transfer the ownership afterwards, np.

[2016-02-25 20:34] mimi89999 commented on #72
I don't have my PC with me ATM. I will do that ASAP...

[2016-02-27 04:46] marciomr opened #87 "Unable to build"
Getting the following error when following the instruction ./gradlew tasks installArchives

Could not find org.whispersystems:textsecure-android:2.8.6.

[2016-02-27 15:05] mimi89999 commented on #87
You need to:
git clone https://github.com/JavaJens/libtextsecure-java.git
cd libtextsecure-java
git checkout fix/maven_local
./gradlew tasks installArchives
cd ..
rm -rf libtextsecure-java

Then you can build the app.

[2016-02-27 15:14] marciomr commented on #87
Thank you. Maybe this should be written in README.

[2016-02-27 15:20] mimi89999 commented on #72
I created the organization.

[2016-02-27 15:54] JavaJens commented on #72
@mimi89999 I saw you forked from upstream there? How do you want to proceed?

[2016-02-27 15:59] mimi89999 commented on #72
I want to add libtextsecure-java as a submodule and then PR from here.

[2016-02-27 16:52] sashw commented on #86
I would really appreciate an update of the F-Droid repository as well, @xmikos.
Edit: At least as long as no official LibreSignal fork is distributed via F-Droid itself.

[2016-02-28 17:45] marciomr commented on #87
Now I get the following error:

Checksum failed for org.whispersystems:textsecure-android

[2016-02-28 17:48] schachmat commented on #87
[lmghstfy](https://github.com/JavaJens/TextSecure/search?q=checksum)

[2016-02-29 17:55] mimi89999 commented on #72
LibreSignal is almost ready. I need help with testing.

[2016-02-29 22:44] Lobz opened #88 "Unable to checkout features/websocket-reborn as per wiki"
I have:
- [x] searched open and closed issues for duplicates
- [x] read https://github.com/WhisperSystems/Signal-Android/wiki/Submitting-useful-bug-reports
### Bug description

I'm opening an issue because I followed [wiki instructions](https://github.com/JavaJens/TextSecure/wiki/Building-the-Websockets-reborn-fork) exactly and they failed.

I'm on git 2.7.0, and `git checkout features/websocket-r

[2016-03-01 01:59] jomo opened #89 "Can't play Video"
I have:
- [x] searched open and closed issues for duplicates
- [x] read https://github.com/WhisperSystems/Signal-Android/wiki/Submitting-useful-bug-reports
### Bug description

I can't open any Videos with Signal, neither those sent by myself nor those I have received. Images work fine though; I haven't tested other media yet. I assume the problem is that Signal sends garbage to the video player w

[2016-03-01 04:44] relyt29 commented on #88
on the one doesn't work, try
`git checkout "feature/websocket-reborn"`
it sounds like it might have something to do with shell escaping or something similar

[2016-03-01 07:17] JavaJens commented on #88
As you point out, this seems like a git issue.
I will close this until you find out it our issue, feel free to reopen then.

[2016-03-02 15:09] xmikos commented on #86
I have just published updates, see https://github.com/xmikos/fdroiddata/issues/11

[2016-03-02 16:21] benediktg commented on #86
@xmikos +1

[2016-03-02 19:06] mimi89999 commented on #86
:+1:

[2016-03-02 23:06] sashw commented on #86
@xmikos Thank you for your work! :-)

[2016-03-06 15:45] #86 closed, assigned to nobody

[2016-03-08 08:43] altergui commented on #72
Re: "I need help with testing"
Yesterday i installed LibreSignal 3.12.0-websocket via f-droid repo
https://eutopia.cz/experimental/fdroid/repo
and everything worked smooth so far. Thanks a lot! Where is the best place to follow up on this?

[2016-03-08 13:56] SecUpwN commented on #72
@altergui, the best place to follow up is @LibreSignal. :smile_cat:

[2016-03-11 07:47] mimi89999 commented on #87
@marciomr You can try to build my fork: https://github.com/LibreSignal/LibreSignal/blob/master/BUILDING.md

[2016-03-12 21:46] LogicParrot commented on #87
I am having the checksum issue as well.

@schachmat the other closed issues seem to give hints on how to fix this, but no explicit instructions. People unexperienced with Gradle like myself are left with an unresolved problem even after reading those closed issued.

[2016-03-12 21:56] mimi89999 commented on #87
You need to remove these lines from build.gradle:

'org.whispersystems:textsecure-android:0405821f479985677d6d5f4032eaaa732e04562c1975969cbaea37939030ec96',

And

'org.whispersystems:textsecure-java:d4ee0d0537693f82b7a9f76fe32cf6b61f79e27d8657a486ee4959b54b738c5a',

[2016-03-12 22:10] SafwatHalaby commented on #87
@mimi89999 Thank you. This resolved the checksum issue.

[2016-03-26 11:13] mimi89999 commented on #89
Could you please check if this bug is present in the latest version of LS? If yes, could you open an issue here: https://github.com/LibreSignal/LibreSignal/issues ?

[2016-04-13 21:09] mimi89999 commented on #72
@SecUpwN Still no reply from Snowden (https://mobile.twitter.com/AIMSICD/status/679814924516880384)

[2016-04-17 15:39] SecUpwN commented on #72
@mimi89999 and all, feel free to re-tweet my tweet with a new question, but don't expect a reply from him. Not sure if @ioerror is in touch with him and can respond here (which would be lovely). But in my eyes, Edward Snowden does not seem to be that eager to justify why he trusts that Google library. Too bad, because this is an essential question I'm sure many would like to see Edward officially

[2016-04-17 16:23] mimi89999 commented on #72
I can't do that because I don't have a Twitter account and I don't want to create one.

[2016-04-24 19:47] ThomasWaldmann opened #90 "keeping settings and data"
I have:
- [X] searched open and closed issues for duplicates
- [X] read https://github.com/WhisperSystems/Signal-Android/wiki/Submitting-useful-bug-reports
### Bug description

Upgrading from 3.9.1-dev to 3.12.0-dev (both websockets reborn branch, self-built apk file) looses data and registration, new key requires new verification, need new invitation to groups, etc.

Also, when manually installin

[2016-04-24 19:56] schachmat commented on #90
The application id changed between those two versions. You can reset the app id of 3.12 to the old one manually in `build.gradle`, recompile and it should update the 3.9.1 version instead of installing a parallel one.

[2016-04-24 20:00] ThomasWaldmann commented on #90
Will it also find the 3.9.1 data (i didn't delete cache or data on uninstall) even if i already have uninstalled 3.9.1? Or does it help if I first reinstall 3.9.1? Thanks for helping!

[2016-04-24 20:05] schachmat commented on #90
it should find the data, but you can make a backup first to be on the safe side.

[2016-04-24 20:12] ThomasWaldmann commented on #90
I don't find it in build.gradle - do you have a search term?

[2016-04-24 20:15] mimi89999 commented on #90
It's in the LibreSignal/LibreSignal repo.

[2016-04-24 20:16] schachmat commented on #90
This diff should cover it:

[code]

[2016-04-24 20:40] ThomasWaldmann commented on #90
I did a new build with that diff applied, force-stopped and uninstalled previous build, installed new build, but it doesn't find old 3.9.1 data/settings. It lets me re-register and generates new keys.

[2016-04-25 05:43] mimi89999 commented on #90
https://github.com/LibreSignal/LibreSignal/issues/22
In your case the app id is `org.thoughtcrime.securesms.dev`

[2016-05-12 07:02] vanitasvitae commented on #72
In case someone didn't follow the discussion over at LibreSignals issue tracker... I think this sums up OWS' relationship to "unrelated forks" pretty good:

https://github.com/LibreSignal/LibreSignal/issues/37

[2016-05-14 20:36] psivesely commented on #50
https://github.com/microg/android_packages_apps_GmsCore/blob/master/play-services-core/src/main/java/org/microg/gms/gcm/RegisterRequest.java#L58 could be hardcoded to a fake value for everyone.

[2016-05-14 20:38] mimi89999 commented on #50
https://github.com/LibreSignal/LibreSignal/issues/37

[2016-05-15 20:23] Diapolo commented on #50
Just wanted to comment, Signal IS working great with https://microg.org!

[2016-05-17 10:32] psivesely commented on #50
I couldn't get push notifications to work on microg, despite following all their recommendations. I suppose I'm guilty of being busy with other things and not wanting to debug it and try to help upstream figure out what might be going wrong with my ROM/ Carrier/ etc. I feel like I probably need to go back to it because Signal voice has become a work necessity and it doesn't look like LibreSignal i

[2016-05-17 14:34] mimi89999 commented on #50
You may need signature spoofing.

[2016-05-17 18:32] psivesely commented on #50
I spoofed. I'm telling you it wasn't me not following any instructions or troubleshooting tips in the wiki. I'll probably switch back to microG sometime in the future and maybe the issue will be resolved or I'll file a proper bug report. Anyway, this is derailing the thread, even though it's already closed.

[2016-07-19 19:25] Isgar opened #91 "Update to 3.16"
Will you continue updating this fork, at least for now?

My websocket-Signal complains it will be outdated in 9 days, so its time to build a new version.

[2016-07-19 20:24] infinity0 commented on #91
3.16 LibreSignal is available in F-Droid

[2016-07-19 20:29] infinity0 commented on #91
To clarify, I mean from [this repo](https://eutopia.cz/experimental/fdroid/repo/) not the f-droid official repos.

[2016-07-20 05:31] Isgar commented on #91
I don't understand what the deal is with LibreSignal. The README says its abandoned. Is it identical to this repo, i.e. only websockets, or are there further changes? Does it work to just replace my websocket version from here with a newly compiled LibreSignal?

[2016-07-20 07:21] mimi89999 commented on #91
@Isgar https://github.com/LibreSignal/LibreSignal/issues/37

[2016-09-18 17:23] mjtorn commented on #60
FWIW I still see long lags sometimes, though it's been ages since I switched to the WhisperFish client :/ So it might be that it's a server-side thing.

[2016-11-13 17:06] ddast commented on #21
@JavaJens Is there still interest in trying to make a pull request?  I recently had a look at your implementation and made some minor changes, such as changing the registration process in a way upstream wants it and deactivating voice since it does not work withough GCM.  To keep the diff minimal I removed things like the websocket flavor.  Do you want me to make a pull request for your repo such

[2016-11-13 18:09] mimi89999 commented on #21
@ddast Yes, there is. Look at https://github.com/LibreSignal/LibreSignal/issues/43 . There is even a $210 bounty on it. (https://www.bountysource.com/issues/35722527-create-proper-pull-request-to-add-libresignal-s-websocket-support-to-ows-signal).

[2017-10-12 21:53] #91 closed, assigned to nobody